openapi: 3.2.0
info:
  title: Sift Annotation Log Service API
  version: '1.0'
  description: Service to programmatically interact with [annotation logs](/glossary#annotation).
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: AnnotationLogService
  description: Service to programmatically interact with [annotation logs](/glossary#annotation).
  externalDocs:
    description: Read more about annotations.
    url: https://customer.support.siftstack.com/servicedesk/customer/portal/2/article/265486685
paths:
  /api/v1/annotation-logs:
    get:
      summary: ListAnnotationLogs
      description: Retrieves annotation logs using an optional filter.
      operationId: AnnotationLogService_ListAnnotationLogs2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListAnnotationLogsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: annotationId
        description: The ID of the parent annotation associated with the annotation logs.
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        description: 'The maximum number of annotation logs to return.

          The service may return fewer than this value.

          If unspecified, at most 50 annotation logs will be returned.

          The maximum value is 1000; values above 1000 will be coerced to 1000.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListAnnotationLogs` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListAnnotationLogs` must match

          the call that provided the page token.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `annotation_log_id`, `annotation_id`, `created_by_user_id`,

          `annotation_id`, `created_date`, `modified_date`, and `kind`.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).'
        in: query
        required: false
        schema:
          type: string
      tags:
      - AnnotationLogService
  /api/v1/annotations/{annotationId}/logs:
    get:
      summary: ListAnnotationLogs
      description: Retrieves annotation logs using an optional filter.
      operationId: AnnotationLogService_ListAnnotationLogs
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListAnnotationLogsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: annotationId
        description: The ID of the parent annotation associated with the annotation logs.
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: 'The maximum number of annotation logs to return.

          The service may return fewer than this value.

          If unspecified, at most 50 annotation logs will be returned.

          The maximum value is 1000; values above 1000 will be coerced to 1000.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListAnnotationLogs` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListAnnotationLogs` must match

          the call that provided the page token.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `annotation_log_id`, `annotation_id`, `created_by_user_id`,

          `annotation_id`, `created_date`, `modified_date`, and `kind`.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).'
        in: query
        required: false
        schema:
          type: string
      tags:
      - AnnotationLogService
    post:
      summary: CreateAnnotationLog
      description: Creates an annotation log on an annotation.
      operationId: AnnotationLogService_CreateAnnotationLog
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateAnnotationLogResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: annotationId
        description: The ID of the parent annotation associated to associate with the new annotation log.
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                kind:
                  $ref: '#/components/schemas/v1AnnotationLogKind'
                assigned:
                  $ref: '#/components/schemas/v1AnnotationLogAssignedProperties'
                stateUpdate:
                  $ref: '#/components/schemas/v1AnnotationLogStateUpdateProperties'
                comment:
                  $ref: '#/components/schemas/v1AnnotationLogCommentProperties'
              description: The request for a call to `AnnotationLogService_CreateAnnotationLog` to create an annotation log.
              required:
              - kind
        required: true
      tags:
      - AnnotationLogService
  /api/v1/annotations/{annotationId}/logs/{annotationLogId}:
    delete:
      summary: DeleteAnnotationLog
      description: Deletes an annotation log.
      operationId: AnnotationLogService_DeleteAnnotationLog
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteAnnotationLogResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: annotationId
        description: The ID of the parent annotation associated with the annotation log to be deleted.
        in: path
        required: true
        schema:
          type: string
      - name: annotationLogId
        description: ID of the annotation log to be deleted.
        in: path
        required: true
        schema:
          type: string
      tags:
      - AnnotationLogService
components:
  schemas:
    v1AnnotationLogSearchResult:
      type: object
      properties:
        annotationLogId:
          type: string
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        annotationId:
          type: string
        kind:
          $ref: '#/components/schemas/v1AnnotationLogKind'
        createdByUserId:
          type: string
        createdByUserName:
          type: string
        assigned:
          $ref: '#/components/schemas/v1AnnotationLogAssignedProperties'
        stateUpdate:
          $ref: '#/components/schemas/v1AnnotationLogStateUpdateProperties'
        comment:
          $ref: '#/components/schemas/v1AnnotationLogCommentProperties'
      required:
      - annotationLogId
      - createdDate
      - modifiedDate
      - annotationId
      - kind
      - createdByUserId
      - createdByUserName
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v1AnnotationCommentUserMention:
      type: object
      properties:
        userId:
          type: string
        userEmail:
          type: string
      required:
      - userId
      - userEmail
    v1AnnotationCommentBodyElementType:
      type: string
      enum:
      - ANNOTATION_COMMENT_BODY_ELEMENT_TYPE_UNSPECIFIED
      - ANNOTATION_COMMENT_BODY_ELEMENT_TYPE_TEXT
      - ANNOTATION_COMMENT_BODY_ELEMENT_TYPE_USER_MENTION
      default: ANNOTATION_COMMENT_BODY_ELEMENT_TYPE_UNSPECIFIED
    v1ListAnnotationLogsResponse:
      type: object
      properties:
        annotationLogs:
          type: array
          items:
            $ref: '#/components/schemas/v1AnnotationLogSearchResult'
        nextPageToken:
          type: string
      description: The response of a call to `AnnotationLogService_ListAnnotationLogs`.
    v1CreateAnnotationLogResponse:
      type: object
      properties:
        annotationLog:
          $ref: '#/components/schemas/v1AnnotationLogSearchResult'
      description: The response of a call to `AnnotationLogService_CreateAnnotationLog`.
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v1AnnotationLogState:
      type: string
      enum:
      - ANNOTATION_LOG_STATE_UNSPECIFIED
      - ANNOTATION_LOG_STATE_CREATED
      - ANNOTATION_LOG_STATE_OPEN
      - ANNOTATION_LOG_STATE_FLAGGED
      - ANNOTATION_LOG_STATE_RESOLVED
      default: ANNOTATION_LOG_STATE_UNSPECIFIED
    v1AnnotationLogAssignedProperties:
      type: object
      properties:
        assignedToUserId:
          type: string
        assignedToUserEmail:
          type: string
      required:
      - assignedToUserId
      - assignedToUserEmail
    v1AnnotationLogKind:
      type: string
      enum:
      - ANNOTATION_LOG_KIND_UNSPECIFIED
      - ANNOTATION_LOG_KIND_COMMENT
      - ANNOTATION_LOG_KIND_STATE_UPDATE
      - ANNOTATION_LOG_KIND_ASSIGNED
      default: ANNOTATION_LOG_KIND_UNSPECIFIED
    v1DeleteAnnotationLogResponse:
      type: object
      description: The Response of a call to `AnnotationLogService_DeleteAnnotationLog`.
    v1AnnotationLogCommentProperties:
      type: object
      properties:
        body:
          type: array
          items:
            $ref: '#/components/schemas/v1AnnotationCommentBodyElement'
    v1AnnotationLogStateUpdateProperties:
      type: object
      properties:
        state:
          $ref: '#/components/schemas/v1AnnotationLogState'
      required:
      - state
    v1AnnotationCommentBodyElement:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/v1AnnotationCommentBodyElementType'
        text:
          type: string
        userMention:
          $ref: '#/components/schemas/v1AnnotationCommentUserMention'
      required:
      - type
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
