openapi: 3.2.0
info:
  title: Sift User Group Service API
  version: '1.0'
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: UserGroupService
paths:
  /api/v2/user-groups:
    get:
      summary: ListUserGroups
      description: Retrieves user groups using an optional filter.
      operationId: UserGroupService_ListUserGroupsV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2ListUserGroupsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of user groups to return.

          The service may return fewer than this value.

          If unspecified, at most 50 will be returned.

          The maximum value is 1000; values above 1000 will be coerced to 1000.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListUserGroups` call.

          Provide this to retrieve the subsequent page.


          When paginating, all other parameters provided to `ListUserGroups` must match

          the call that provided the page token.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A Common Expression Language (CEL, https://github.com/google/cel-spec) filter string.

          Available tag variables are:

          - name'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved user groups. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `name`, `created_date`, and `modified_date`.

          If left empty, items are ordered by `name` in ascending order (A-Z).

          For more information about the format of this field, read [this](https://google.aip.dev/132#ordering)

          Example: "created_date desc,modified_date"'
        in: query
        required: false
        schema:
          type: string
      tags:
      - UserGroupService
    post:
      summary: CreateUserGroup
      description: Creates a user group.
      operationId: UserGroupService_CreateUserGroupV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2CreateUserGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2CreateUserGroupRequest'
        required: true
      tags:
      - UserGroupService
  /api/v2/user-groups/{userGroup.userGroupId}:
    patch:
      summary: UpdateUserGroup
      description: Updates a user group.
      operationId: UserGroupService_UpdateUserGroupV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2UpdateUserGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: userGroup.userGroupId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                userGroup:
                  type: object
                  properties:
                    name:
                      type: string
                    roleId:
                      type: string
                    isDefault:
                      type: boolean
                    resources:
                      $ref: '#/components/schemas/UserGroupResource'
                    userIds:
                      type: array
                      items:
                        type: string
                    isExternal:
                      type: boolean
                updateMask:
                  type: string
                  description: The list of fields to update.
              required:
              - name
              - isDefault
              - isExternal
              - updateMask
        required: true
      tags:
      - UserGroupService
  /api/v2/user-groups/{userGroupId}:
    get:
      summary: GetUserGroup
      description: Retrieves a user group.
      operationId: UserGroupService_GetUserGroupV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2GetUserGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: userGroupId
        in: path
        required: true
        schema:
          type: string
      tags:
      - UserGroupService
    delete:
      summary: DeleteUserGroup
      description: Deletes a user group.
      operationId: UserGroupService_DeleteUserGroupV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2DeleteUserGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: userGroupId
        in: path
        required: true
        schema:
          type: string
      tags:
      - UserGroupService
  /api/v2/user-groups:add-user:
    post:
      summary: AddUserToUserGroup
      description: Adds a user to a user group.
      operationId: UserGroupService_AddUserToUserGroupV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2AddUserToUserGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: userGroupId
        in: query
        required: true
        schema:
          type: string
      - name: userId
        in: query
        required: true
        schema:
          type: string
      tags:
      - UserGroupService
  /api/v2/user-groups:get-for-assets:
    get:
      summary: GetUserGroupsForAssets
      description: Retrieves user groups for a list of assets.
      operationId: UserGroupService_GetUserGroupsForAssetsV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2GetUserGroupsForAssetsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: assetIds
        in: query
        required: true
        explode: true
        schema:
          type: array
          items:
            type: string
      tags:
      - UserGroupService
  /api/v2/user-groups:remove-user:
    post:
      summary: RemoveUserFromUserGroup
      description: Removes a user from a user group.
      operationId: UserGroupService_RemoveUserFromUserGroupV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2RemoveUserFromUserGroupResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: userGroupId
        in: query
        required: true
        schema:
          type: string
      - name: userId
        in: query
        required: true
        schema:
          type: string
      tags:
      - UserGroupService
  /api/v2/user-groups:update-user:
    post:
      summary: UpdateUserUserGroups
      description: Updates a user's user groups.
      operationId: UserGroupService_UpdateUserUserGroupsV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2UpdateUserUserGroupsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: userId
        in: query
        required: false
        schema:
          type: string
      - name: userGroupIds
        in: query
        required: false
        explode: true
        schema:
          type: array
          items:
            type: string
      tags:
      - UserGroupService
components:
  schemas:
    v2RemoveUserFromUserGroupResponse:
      type: object
    v2CreateUserGroupResponse:
      type: object
      properties:
        userGroup:
          $ref: '#/components/schemas/v2UserGroup'
      required:
      - userGroup
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v2CreateUserGroupRequest:
      type: object
      properties:
        userGroup:
          $ref: '#/components/schemas/v2UserGroup'
      required:
      - userGroup
    v2UpdateUserGroupResponse:
      type: object
      properties:
        userGroup:
          $ref: '#/components/schemas/v2UserGroup'
      required:
      - userGroup
    v2Role:
      type: object
      properties:
        roleId:
          type: string
        name:
          type: string
        description:
          type: string
        roleOrder:
          type: integer
          format: int32
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    UserGroupResource:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
        allAssets:
          type: boolean
      required:
      - allAssets
    v2DeleteUserGroupResponse:
      type: object
    v2UserGroup:
      type: object
      properties:
        userGroupId:
          type: string
        name:
          type: string
        roleId:
          type: string
        isDefault:
          type: boolean
        resources:
          $ref: '#/components/schemas/UserGroupResource'
        userIds:
          type: array
          items:
            type: string
        isExternal:
          type: boolean
      required:
      - name
      - isDefault
      - isExternal
    v2GetUserGroupsForAssetsResponse:
      type: object
      properties:
        userGroups:
          type: array
          items:
            $ref: '#/components/schemas/v2UserGroup'
        roles:
          type: array
          items:
            $ref: '#/components/schemas/v2Role'
      required:
      - userGroups
      - roles
    v2AddUserToUserGroupResponse:
      type: object
    v2ListUserGroupsResponse:
      type: object
      properties:
        userGroups:
          type: array
          items:
            $ref: '#/components/schemas/v2UserGroup'
        nextPageToken:
          type: string
          description: 'A token, which can be sent as `page_token` to retrieve the next page.

            If this field is empty, there are no subsequent pages.'
      required:
      - userGroups
    v2GetUserGroupResponse:
      type: object
      properties:
        userGroup:
          $ref: '#/components/schemas/v2UserGroup'
      required:
      - userGroup
    v2UpdateUserUserGroupsResponse:
      type: object
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
