openapi: 3.2.0
info:
  title: Sift Principal Attribute Service API
  version: '1.0'
  description: Service to manage ABAC principal attributes.
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: PrincipalAttributeService
  description: Service to manage ABAC principal attributes.
paths:
  /api/v1/principal-attribute-enum-values:
    post:
      summary: CreatePrincipalAttributeEnumValue
      description: Create a principal attribute enum value.
      operationId: PrincipalAttributeService_CreatePrincipalAttributeEnumValue
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreatePrincipalAttributeEnumValueResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreatePrincipalAttributeEnumValueRequest'
        required: true
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-enum-values/batch-archive:
    post:
      summary: BatchArchivePrincipalAttributeEnumValues
      description: Archives multiple principal attribute enum values and migrates all principal attribute values with those enum values to their respective replacement enum values.
      operationId: PrincipalAttributeService_BatchArchivePrincipalAttributeEnumValues
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BatchArchivePrincipalAttributeEnumValuesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BatchArchivePrincipalAttributeEnumValuesRequest'
        required: true
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-enum-values/batch-unarchive:
    post:
      summary: BatchUnarchivePrincipalAttributeEnumValues
      description: Unarchives multiple principal attribute enum values.
      operationId: PrincipalAttributeService_BatchUnarchivePrincipalAttributeEnumValues
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BatchUnarchivePrincipalAttributeEnumValuesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BatchUnarchivePrincipalAttributeEnumValuesRequest'
        required: true
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-enum-values/{archivedEnumValueId}/archive:
    post:
      summary: ArchivePrincipalAttributeEnumValue
      description: Archives a principal attribute enum value and migrates all principal attribute values with that enum value to a replacement enum value.
      operationId: PrincipalAttributeService_ArchivePrincipalAttributeEnumValue
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ArchivePrincipalAttributeEnumValueResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: archivedEnumValueId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                replacementEnumValueId:
                  type: string
                  description: 'When the archived_enum_value_id is archived all principal attribute values that reference it will be migrated to the replacement_enum_value_id

                    if provided. Otherwise, user-attributes that reference it will be archived as well.'
        required: true
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-enum-values/{principalAttributeEnumValueId}:
    get:
      summary: GetPrincipalAttributeEnumValue
      description: Retrieves a principal attribute enum value.
      operationId: PrincipalAttributeService_GetPrincipalAttributeEnumValue
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetPrincipalAttributeEnumValueResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: principalAttributeEnumValueId
        in: path
        required: true
        schema:
          type: string
      tags:
      - PrincipalAttributeService
    patch:
      summary: UpdatePrincipalAttributeEnumValue
      description: Updates an existing principal attribute enum value.
      operationId: PrincipalAttributeService_UpdatePrincipalAttributeEnumValue
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdatePrincipalAttributeEnumValueResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: principalAttributeEnumValueId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/PrincipalAttributeService_UpdatePrincipalAttributeEnumValueBody'
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-enum-values/{principalAttributeEnumValueId}/unarchive:
    post:
      summary: UnarchivePrincipalAttributeEnumValue
      description: Unarchives a principal attribute enum value.
      operationId: PrincipalAttributeService_UnarchivePrincipalAttributeEnumValue
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UnarchivePrincipalAttributeEnumValueResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: principalAttributeEnumValueId
        in: path
        required: true
        schema:
          type: string
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-keys:
    get:
      summary: ListPrincipalAttributeKeys
      description: Lists principal attribute keys.
      operationId: PrincipalAttributeService_ListPrincipalAttributeKeys
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListPrincipalAttributeKeysResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of principal attribute keys to return. The service may return fewer than this value.

          If unspecified, at most 50 principal attribute keys will be returned. The maximum value is 1000. Values

          above 1000 will be coerced to 1000. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListPrincipalAttributeKeys` call.

          Provide this to retrieve a subsequent page of principal attribute keys.

          When paginating, all other parameters provided to `ListPrincipalAttributeKeys` must match the previous call

          that provided the page token. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are:

          ''principal_attribute_key_id'', ''display_name'', ''value_type'', ''created_by_user_id'', ''created_date'', ''modified_by_user_id, ''modified_date''

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).

          For more information about the fields used for filtering, please refer to this definition. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved principal attribute keys. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `created_date`, ''modified_date'', ''display_name'', ''principal_attribute_key_id'', ''value_type'', ''description''

          If left empty, items are ordered by `created_date` in ascending order (oldest-first).

          For more information about the format of this field, read [this](https://google.aip.dev/132#ordering)

          Example: "created_date desc,modified_date"'
        in: query
        required: false
        schema:
          type: string
      - name: organizationId
        in: query
        required: false
        schema:
          type: string
      - name: includeArchived
        description: If true, includes archived keys. Defaulta to false. Optional.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - PrincipalAttributeService
    post:
      summary: CreatePrincipalAttributeKey
      description: Create a principal attribute key.
      operationId: PrincipalAttributeService_CreatePrincipalAttributeKey
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreatePrincipalAttributeKeyResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreatePrincipalAttributeKeyRequest'
        description: CreatePrincipalAttributeKeyRequest is used to create a new principal attribute key.
        required: true
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-keys/archive:
    post:
      summary: ArchivePrincipalAttributeKeys
      description: Archive principal attribute keys.
      operationId: PrincipalAttributeService_ArchivePrincipalAttributeKeys
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ArchivePrincipalAttributeKeysResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ArchivePrincipalAttributeKeysRequest'
        description: ArchivePrincipalAttributeKeysRequest is used to batch archive principal attribute keys by id.
        required: true
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-keys/unarchive:
    post:
      summary: UnarchivePrincipalAttributeKeys
      description: Unarchive principal attribute keys.
      operationId: PrincipalAttributeService_UnarchivePrincipalAttributeKeys
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UnarchivePrincipalAttributeKeysResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UnarchivePrincipalAttributeKeysRequest'
        description: UnarchivePrincipalAttributeKeysRequest is used to batch unarchive principal attribute keys by id.
        required: true
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-keys/{principalAttributeKeyId}:
    get:
      summary: GetPrincipalAttributeKey
      description: Retrieves a principal attribute key.
      operationId: PrincipalAttributeService_GetPrincipalAttributeKey
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetPrincipalAttributeKeyResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: principalAttributeKeyId
        in: path
        required: true
        schema:
          type: string
      tags:
      - PrincipalAttributeService
    patch:
      summary: UpdatePrincipalAttributeKey
      description: Updates an existing principal attribute key.
      operationId: PrincipalAttributeService_UpdatePrincipalAttributeKey
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdatePrincipalAttributeKeyResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: principalAttributeKeyId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                description:
                  type: string
                updateMask:
                  type: string
                  description: The list of fields to be updated. The fields available to be updated are 'description'.
              description: UpdatePrincipalAttributeKeyRequest is used to update an existing principal attribute key.
              required:
              - updateMask
        required: true
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-keys/{principalAttributeKeyId}/archive-impact:
    get:
      summary: CheckPrincipalAttributeKeyArchiveImpact
      description: Returns the count of active user principal-attribute values that would be archived with this key, and the count of active user-group principal-attribute value rows for this key (those rows stop contributing to evaluation once the key is archived).
      operationId: PrincipalAttributeService_CheckPrincipalAttributeKeyArchiveImpact
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CheckPrincipalAttributeKeyArchiveImpactResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: principalAttributeKeyId
        in: path
        required: true
        schema:
          type: string
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-keys/{principalAttributeKeyId}/enum-values:
    get:
      summary: ListPrincipalAttributeEnumValues
      description: Lists principal attribute enum values for a given principal attribute key.
      operationId: PrincipalAttributeService_ListPrincipalAttributeEnumValues
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListPrincipalAttributeEnumValuesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: principalAttributeKeyId
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: 'The maximum number of enum values to return. The service may return fewer than this value.

          If unspecified, at most 50 enum values will be returned. The maximum value is 100; values above

          100 will be coerced to 100.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListPrincipalAttributeEnumValues` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListPrincipalAttributeEnumValues` must match

          the call that provided the page token.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `principal_attribute_enum_value_id`, `name`, `display_name`, `description`,

          `created_by_user_id`, `modified_by_user_id`, `created_date`, and `modified_date`.

          Archive state is controlled via the `include_archived` field below, not via filter.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved enum values. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `created_date`, `modified_date`, and `display_name`.

          If left empty, items are ordered by `created_date` in descending order (newest-first).

          For more information about the format of this field, read [this](https://google.aip.dev/132#ordering)

          Example: "display_name,created_date desc"'
        in: query
        required: false
        schema:
          type: string
      - name: includeArchived
        description: Whether to include archived enum values. Defaults to false.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-keys/{principalAttributeKeyId}/principal-attribute-values:
    get:
      summary: ListPrincipalAttributeKeyValues
      description: Lists principal attribute values for a given principal attribute key.
      operationId: PrincipalAttributeService_ListPrincipalAttributeKeyValues
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListPrincipalAttributeKeyValuesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: principalAttributeKeyId
        description: The id of the principal attribute key to list values for.
        in: path
        required: true
        schema:
          type: string
      - name: principalType
        in: query
        required: true
        schema:
          type: string
          enum:
          - PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_UNSPECIFIED
          - PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_USER
          - PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_USER_GROUP
          default: PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_UNSPECIFIED
      - name: pageSize
        description: 'The maximum number of principal attribute values to return. The service may return fewer than this value.

          If unspecified, at most 50 principal attribute values will be returned. The maximum value is 1000. Values

          above 1000 will be coerced to 1000. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListPrincipalAttributeKeyValues` call.

          Provide this to retrieve a subsequent page of principal attribute values.

          When paginating, all other parameters provided to `ListPrincipalAttributeKeyValues` must match the previous call

          that provided the page token. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are:

          ''principal_attribute_value_id'', ''principal_attribute_key_id'', ''principal_attribute_enum_value_id'', ''number_value'', ''boolean_value'', ''created_date'', ''created_by_user_id'', ''principal_id'', and ''principal_type''

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).

          For more information about the fields used for filtering, please refer to this definition. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved principal attribute values. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `created_date`

          If left empty, items are ordered by `created_date` in ascending order (oldest-first).

          For more information about the format of this field, read [this](https://google.aip.dev/132#ordering)

          Example: "created_date desc"'
        in: query
        required: false
        schema:
          type: string
      - name: includeArchived
        description: If true, include archived values. Defaults to false. Optional.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-values:
    get:
      summary: ListPrincipalAttributeValues
      description: Lists principal attribute values.
      operationId: PrincipalAttributeService_ListPrincipalAttributeValues
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListPrincipalAttributeValuesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: principalType
        in: query
        required: true
        schema:
          type: string
          enum:
          - PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_UNSPECIFIED
          - PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_USER
          - PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_USER_GROUP
          default: PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_UNSPECIFIED
      - name: pageSize
        description: 'The maximum number of principal attribute values to return. The service may return fewer than this value.

          If unspecified, at most 50 principal attribute values will be returned. The maximum value is 1000. Values

          above 1000 will be coerced to 1000. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListPrincipalAttributeValues` call.

          Provide this to retrieve a subsequent page of principal attribute values.

          When paginating, all other parameters provided to `ListPrincipalAttributeValues` must match the previous call

          that provided the page token. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are:

          ''principal_attribute_value_id'', ''principal_attribute_key_id'', ''principal_attribute_enum_value_id'', ''number_value'', ''boolean_value'', ''created_date'', ''created_by_user_id'', ''principal_id'', and ''principal_type''.

          Archive state is controlled via the `include_archived` field below, not via filter.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).

          For more information about the fields used for filtering, please refer to this definition. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved principal attribute values. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `created_date`

          If left empty, items are ordered by `created_date` in ascending order (oldest-first).

          For more information about the format of this field, read [this](https://google.aip.dev/132#ordering)

          Example: "created_date desc"'
        in: query
        required: false
        schema:
          type: string
      - name: includeArchived
        description: If true, include archived values. Defaults to false. Optional.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-values/archive:
    post:
      summary: ArchivePrincipalAttributeValues
      description: Archive principal attribute values.
      operationId: PrincipalAttributeService_ArchivePrincipalAttributeValues
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ArchivePrincipalAttributeValuesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ArchivePrincipalAttributeValuesRequest'
        description: ArchivePrincipalAttributeValuesRequest is used to batch archive principal attribute values by id.
        required: true
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-values/batch:
    post:
      summary: BatchCreatePrincipalAttributeValue
      description: Creates a principal attribute value for multiple principals in a single operation.
      operationId: PrincipalAttributeService_BatchCreatePrincipalAttributeValue
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BatchCreatePrincipalAttributeValueResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BatchCreatePrincipalAttributeValueRequest'
        description: BatchCreatePrincipalAttributeValueRequest is used to batch create new principal attribute values.
        required: true
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-values/unarchive:
    post:
      summary: UnarchivePrincipalAttributeValues
      description: Unarchive principal attribute values.
      operationId: PrincipalAttributeService_UnarchivePrincipalAttributeValues
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UnarchivePrincipalAttributeValuesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UnarchivePrincipalAttributeValuesRequest'
        description: UnarchivePrincipalAttributeValuesRequest is used to batch unarchive principal attribute values by id.
        required: true
      tags:
      - PrincipalAttributeService
  /api/v1/principal-attribute-values/{principalAttributeValueId}:
    get:
      summary: GetPrincipalAttributeValue
      description: Retrieves a principal attribute value.
      operationId: PrincipalAttributeService_GetPrincipalAttributeValue
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetPrincipalAttributeValueResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: principalAttributeValueId
        in: path
        required: true
        schema:
          type: string
      - name: principalType
        in: query
        required: true
        schema:
          type: string
          enum:
          - PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_UNSPECIFIED
          - PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_USER
          - PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_USER_GROUP
          default: PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_UNSPECIFIED
      tags:
      - PrincipalAttributeService
components:
  schemas:
    v1PrincipalAttributePrincipalType:
      type: string
      enum:
      - PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_UNSPECIFIED
      - PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_USER
      - PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_USER_GROUP
      default: PRINCIPAL_ATTRIBUTE_PRINCIPAL_TYPE_UNSPECIFIED
      description: PrincipalAttributePrincipalType enumerates the supported principal types for principal attribute values.
    v1CreatePrincipalAttributeKeyRequest:
      type: object
      properties:
        displayName:
          type: string
        description:
          type: string
        type:
          $ref: '#/components/schemas/v1PrincipalAttributeValueType'
        initialEnumValues:
          type: array
          items:
            $ref: '#/components/schemas/v1CreatePrincipalAttributeKeyRequestInitialEnumValue'
          description: Optional initial enum values to create alongside the key. Only applicable for ENUM type keys.
      description: CreatePrincipalAttributeKeyRequest is used to create a new principal attribute key.
      required:
      - displayName
      - type
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v1CreatePrincipalAttributeEnumValueRequest:
      type: object
      properties:
        principalAttributeKeyId:
          type: string
        displayName:
          type: string
        description:
          type: string
      title: Principal Attribute Enum Value RPC messages
      required:
      - principalAttributeKeyId
      - displayName
    v1BatchArchivePrincipalAttributeEnumValuesResponse:
      type: object
      properties:
        totalPrincipalAttributeValuesMigrated:
          type: integer
          format: int32
          description: 'Total number of principal attribute values migrated or archived across all enum value operations.

            This includes both values migrated to replacement values and values archived without replacement.'
    v1UnarchivePrincipalAttributeValuesRequest:
      type: object
      properties:
        principalAttributeValueIds:
          type: array
          items:
            type: string
        principalType:
          $ref: '#/components/schemas/v1PrincipalAttributePrincipalType'
      description: UnarchivePrincipalAttributeValuesRequest is used to batch unarchive principal attribute values by id.
      required:
      - principalAttributeValueIds
      - principalType
    v1BatchUnarchivePrincipalAttributeEnumValuesResponse:
      type: object
    v1CreatePrincipalAttributeKeyRequestInitialEnumValue:
      type: object
      properties:
        displayName:
          type: string
        description:
          type: string
      description: Nested message for initial enum values in create requests.
      required:
      - displayName
    v1PrincipalAttributeKey:
      type: object
      properties:
        principalAttributeKeyId:
          type: string
          readOnly: true
        organizationId:
          type: string
          readOnly: true
        displayName:
          type: string
        description:
          type: string
        type:
          $ref: '#/components/schemas/v1PrincipalAttributeValueType'
        createdDate:
          type: string
          format: date-time
          readOnly: true
        createdByUserId:
          type: string
          readOnly: true
        modifiedDate:
          type: string
          format: date-time
          readOnly: true
        modifiedByUserId:
          type: string
          readOnly: true
        archivedDate:
          type: string
          format: date-time
          readOnly: true
        isArchived:
          type: boolean
          description: Whether or not the principal attribute key is archived. This is inferred from whether archived_date is set.
          readOnly: true
      required:
      - principalAttributeKeyId
      - organizationId
      - displayName
      - type
      - createdDate
      - createdByUserId
      - modifiedDate
      - modifiedByUserId
    v1BatchCreatePrincipalAttributeValueRequest:
      type: object
      properties:
        principalAttributeKeyId:
          type: string
        principalIds:
          type: array
          items:
            type: string
        principalType:
          $ref: '#/components/schemas/v1PrincipalAttributePrincipalType'
        principalAttributeEnumValueId:
          type: string
          description: 'For ENUM type: exactly one enum value ID.'
        principalAttributeEnumValueIds:
          $ref: '#/components/schemas/v1PrincipalAttributeEnumValueIdList'
        numberValue:
          type: string
          format: int64
        booleanValue:
          type: boolean
      description: BatchCreatePrincipalAttributeValueRequest is used to batch create new principal attribute values.
      required:
      - principalAttributeKeyId
      - principalIds
      - principalType
    v1ArchivePrincipalAttributeValuesResponse:
      type: object
    v1ListPrincipalAttributeKeyValuesResponse:
      type: object
      properties:
        principalAttributeValues:
          type: array
          items:
            $ref: '#/components/schemas/v1PrincipalAttributeValue'
        nextPageToken:
          type: string
      description: ListPrincipalAttributeKeyValuesResponse returns the list of principal attribute values from a ListPrincipalAttributeKeyValues call.
      required:
      - principalAttributeValues
    v1ListPrincipalAttributeValuesResponse:
      type: object
      properties:
        principalAttributeValues:
          type: array
          items:
            $ref: '#/components/schemas/v1PrincipalAttributeValue'
        nextPageToken:
          type: string
      description: ListPrincipalAttributeValuesResponse returns the list of principal attribute values from a ListPrincipalAttributeValues call.
      required:
      - principalAttributeValues
    v1UnarchivePrincipalAttributeKeysRequest:
      type: object
      properties:
        principalAttributeKeyIds:
          type: array
          items:
            type: string
      description: UnarchivePrincipalAttributeKeysRequest is used to batch unarchive principal attribute keys by id.
      required:
      - principalAttributeKeyIds
    v1UnarchivePrincipalAttributeValuesResponse:
      type: object
    v1ArchivePrincipalAttributeValuesRequest:
      type: object
      properties:
        principalAttributeValueIds:
          type: array
          items:
            type: string
        principalType:
          $ref: '#/components/schemas/v1PrincipalAttributePrincipalType'
      description: ArchivePrincipalAttributeValuesRequest is used to batch archive principal attribute values by id.
      required:
      - principalAttributeValueIds
      - principalType
    v1CreatePrincipalAttributeEnumValueResponse:
      type: object
      properties:
        principalAttributeEnumValue:
          $ref: '#/components/schemas/v1PrincipalAttributeEnumValue'
      required:
      - principalAttributeEnumValue
    v1PrincipalAttributeValue:
      type: object
      properties:
        principalAttributeValueId:
          type: string
          readOnly: true
        principalAttributeKeyId:
          type: string
          readOnly: true
        principalId:
          type: string
          description: The ID of the user or user group this value is assigned to.
          readOnly: true
        principalType:
          $ref: '#/components/schemas/v1PrincipalAttributePrincipalType'
        organizationId:
          type: string
          readOnly: true
        principalAttributeEnumValueId:
          type: string
        numberValue:
          type: string
          format: int64
        booleanValue:
          type: boolean
        createdByUserId:
          type: string
          readOnly: true
        createdDate:
          type: string
          format: date-time
          readOnly: true
        archivedDate:
          type: string
          format: date-time
          readOnly: true
        isArchived:
          type: boolean
          description: Whether or not the principal attribute value is archived. This is inferred from whether archived_date is set.
          readOnly: true
        key:
          $ref: '#/components/schemas/v1PrincipalAttributeKey'
        enumValueDetails:
          $ref: '#/components/schemas/v1PrincipalAttributeEnumValue'
      required:
      - principalAttributeValueId
      - principalAttributeKeyId
      - principalId
      - principalType
      - organizationId
      - createdByUserId
      - createdDate
      - key
    v1GetPrincipalAttributeKeyResponse:
      type: object
      properties:
        principalAttributeKey:
          $ref: '#/components/schemas/v1PrincipalAttributeKey'
      description: GetPrincipalAttributeKeyResponse returns a principal attribute key from a GetPrincipalAttributeKey call.
      required:
      - principalAttributeKey
    v1CheckPrincipalAttributeKeyArchiveImpactResponse:
      type: object
      properties:
        activeUserPrincipalAttributeValueCount:
          type: string
          format: int64
          description: 'Non-archived user principal-attribute value rows for this key that will be archived with the key

            (same scope as ArchivePrincipalAttributeKeys; includes multiple rows per principal for SET_OF_ENUM).'
        activeUserGroupPrincipalAttributeValueCount:
          type: string
          format: int64
          description: 'Non-archived user_group_attribute_values rows for this key. They are not archived by ArchivePrincipalAttributeKeys,

            but stop contributing to principal.groupAttributes once the key is archived (evaluation joins active keys only).'
    v1BatchArchivePrincipalAttributeEnumValuesRequestEnumValueArchival:
      type: object
      properties:
        archivedEnumValueId:
          type: string
          description: The enum value ID to archive.
        replacementEnumValueId:
          type: string
          description: 'When the archived_enum_value_id is archived all principal attribute values that reference it will be migrated to the replacement_enum_value_id

            if provided. Otherwise, user-attributes that reference it will be archived as well.'
      required:
      - archivedEnumValueId
    v1UnarchivePrincipalAttributeEnumValueResponse:
      type: object
    v1GetPrincipalAttributeValueResponse:
      type: object
      properties:
        principalAttributeValue:
          $ref: '#/components/schemas/v1PrincipalAttributeValue'
      description: GetPrincipalAttributeValueResponse returns a principal attribute value from a GetPrincipalAttributeValue call.
      required:
      - principalAttributeValue
    v1ListPrincipalAttributeKeysResponse:
      type: object
      properties:
        principalAttributeKeys:
          type: array
          items:
            $ref: '#/components/schemas/v1PrincipalAttributeKey'
        nextPageToken:
          type: string
      description: ListPrincipalAttributeKeysResponse returns the list of principal attribute keys from a ListPrincipalAttributeKeys call.
      required:
      - principalAttributeKeys
    v1UnarchivePrincipalAttributeKeysResponse:
      type: object
    v1UpdatePrincipalAttributeEnumValueResponse:
      type: object
      properties:
        principalAttributeEnumValue:
          $ref: '#/components/schemas/v1PrincipalAttributeEnumValue'
      required:
      - principalAttributeEnumValue
    v1BatchArchivePrincipalAttributeEnumValuesRequest:
      type: object
      properties:
        archivalRequests:
          type: array
          items:
            $ref: '#/components/schemas/v1BatchArchivePrincipalAttributeEnumValuesRequestEnumValueArchival'
      required:
      - archivalRequests
    v1ArchivePrincipalAttributeKeysRequest:
      type: object
      properties:
        principalAttributeKeyIds:
          type: array
          items:
            type: string
      description: ArchivePrincipalAttributeKeysRequest is used to batch archive principal attribute keys by id.
      required:
      - principalAttributeKeyIds
    v1ListPrincipalAttributeEnumValuesResponse:
      type: object
      properties:
        principalAttributeEnumValues:
          type: array
          items:
            $ref: '#/components/schemas/v1PrincipalAttributeEnumValue'
        nextPageToken:
          type: string
    v1PrincipalAttributeEnumValue:
      type: object
      properties:
        principalAttributeEnumValueId:
          type: string
          readOnly: true
        principalAttributeKeyId:
          type: string
          readOnly: true
        displayName:
          type: string
        description:
          type: string
        createdDate:
          type: string
          format: date-time
          readOnly: true
        createdByUserId:
          type: string
          readOnly: true
        modifiedDate:
          type: string
          format: date-time
          readOnly: true
        modifiedByUserId:
          type: string
          readOnly: true
        archivedDate:
          type: string
          format: date-time
          readOnly: true
        isArchived:
          type: boolean
          description: Whether or not the principal attribute enum value is archived. This is inferred from whether archived_date is set.
          readOnly: true
      description: 'Represents a possible enumerable value for ENUM type principal attribute keys.

        Users can add new enum values as needed.'
      required:
      - principalAttributeEnumValueId
      - principalAttributeKeyId
      - displayName
      - createdDate
      - createdByUserId
      - modifiedDate
      - modifiedByUserId
    v1PrincipalAttributeValueType:
      type: string
      enum:
      - PRINCIPAL_ATTRIBUTE_VALUE_TYPE_UNSPECIFIED
      - PRINCIPAL_ATTRIBUTE_VALUE_TYPE_ENUM
      - PRINCIPAL_ATTRIBUTE_VALUE_TYPE_BOOLEAN
      - PRINCIPAL_ATTRIBUTE_VALUE_TYPE_NUMBER
      - PRINCIPAL_ATTRIBUTE_VALUE_TYPE_SET_OF_ENUM
      default: PRINCIPAL_ATTRIBUTE_VALUE_TYPE_UNSPECIFIED
      description: PrincipalAttributeValueType enumerates the supported value types for a principal attribute key.
    v1BatchUnarchivePrincipalAttributeEnumValuesRequest:
      type: object
      properties:
        principalAttributeEnumValueIds:
          type: array
          items:
            type: string
      required:
      - principalAttributeEnumValueIds
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v1BatchCreatePrincipalAttributeValueResponse:
      type: object
      properties:
        principalAttributeValues:
          type: array
          items:
            $ref: '#/components/schemas/v1PrincipalAttributeValue'
      description: BatchCreatePrincipalAttributeValueResponse returns the principal attribute values from a BatchCreatePrincipalAttributeValue call.
      required:
      - principalAttributeValues
    v1ArchivePrincipalAttributeEnumValueResponse:
      type: object
      properties:
        principalAttributeValuesMigrated:
          type: integer
          format: int32
          description: 'Total number of principal attribute values migrated or archived by this operation.

            When a replacement enum value is provided, this represents values migrated to the new value.

            When no replacement is provided, this represents values that were archived.'
    v1PrincipalAttributeEnumValueIdList:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
    v1GetPrincipalAttributeEnumValueResponse:
      type: object
      properties:
        principalAttributeEnumValue:
          $ref: '#/components/schemas/v1PrincipalAttributeEnumValue'
      required:
      - principalAttributeEnumValue
    v1CreatePrincipalAttributeKeyResponse:
      type: object
      properties:
        principalAttributeKey:
          $ref: '#/components/schemas/v1PrincipalAttributeKey'
        enumValues:
          type: array
          items:
            $ref: '#/components/schemas/v1PrincipalAttributeEnumValue'
          description: The enum values created alongside the key, if any were provided in the request.
      description: CreatePrincipalAttributeKeyResponse returns the principal attribute key from a CreatePrincipalAttributeKey call.
      required:
      - principalAttributeKey
    v1ArchivePrincipalAttributeKeysResponse:
      type: object
    v1UpdatePrincipalAttributeKeyResponse:
      type: object
      properties:
        principalAttributeKey:
          $ref: '#/components/schemas/v1PrincipalAttributeKey'
      description: UpdatePrincipalAttributeKeyResponse returns the principal attribute key from a UpdatePrincipalAttributeKey call.
      required:
      - principalAttributeKey
  requestBodies:
    PrincipalAttributeService_UpdatePrincipalAttributeEnumValueBody:
      content:
        application/json:
          schema:
            type: object
            properties:
              displayName:
                type: string
              description:
                type: string
              updateMask:
                type: string
                description: The list of fields to be updated. The fields available to be updated are `description` and `archived_date`.
            required:
            - updateMask
      required: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
