openapi: 3.2.0
info:
  title: Sift Asset Service API
  version: '1.0'
  description: Service to programmatically interact with [assets](/glossary#asset).
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: AssetService
  description: Service to programmatically interact with [assets](/glossary#asset).
  externalDocs:
    description: Read more about what assets are.
    url: /data-model
paths:
  /api/v1/assets:
    get:
      summary: ListAssets
      description: Retrieves assets using an optional filter.
      operationId: AssetService_ListAssets
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListAssetsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of assets to return.

          The service may return fewer than this value.

          If unspecified, at most 50 assets will be returned.

          The maximum value is 1000; values above 1000 will be coerced to 1000.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListAssets` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListAssets` must match

          the call that provided the page token.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `asset_id`, `created_by_user_id`, `modified_by_user_id`,

          `created_date`, `modified_date`, `name`, ''name_lower'', `tag_id`, `tag_name`, ''archived_date'', `is_archived`, and `metadata`. Metadata can be used in filters by using `metadata.{metadata_key_name}` as the field name.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved assets. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `name`, `created_date`, `modified_date` and `archived_date`.

          If left empty, items are ordered by `created_date` in descending order (newest-first).

          For more information about the format of this field, read [this](https://google.aip.dev/132#ordering)

          Example: "created_date desc,modified_date"'
        in: query
        required: false
        schema:
          type: string
      tags:
      - AssetService
    post:
      summary: CreateAsset
      description: Creates a new, empty asset.
      operationId: AssetService_CreateAsset
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateAssetResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateAssetRequest'
        description: The request for a call to `AssetService_CreateAsset` to create a single new, empty asset.
        required: true
      tags:
      - AssetService
    patch:
      summary: UpdateAsset
      description: Update fields on an asset.
      operationId: AssetService_UpdateAsset
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateAssetResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateAssetRequest'
        description: The request for a call to `AssetService_UpdateAsset` to update a single existing asset.
        required: true
      tags:
      - AssetService
  /api/v1/assets/{assetId}:
    get:
      summary: GetAsset
      description: Retrieves an asset.
      operationId: AssetService_GetAsset
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetAssetResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: assetId
        description: The id of the asset to be retrieved. Required.
        in: path
        required: true
        schema:
          type: string
      tags:
      - AssetService
    delete:
      summary: DeleteAsset
      description: Deletes an asset.
      operationId: AssetService_DeleteAsset
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteAssetResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: assetId
        description: The id of the asset to be archived. Required.
        in: path
        required: true
        schema:
          type: string
      - name: archiveRuns
        description: If true, will archive all runs associated with the asset.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - AssetService
  /api/v1/assets/{assetId}/archive:
    post:
      summary: ArchiveAsset
      description: Archives an asset.
      operationId: AssetService_ArchiveAsset
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ArchiveAssetResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: assetId
        description: The id of the asset to be archived. Required.
        in: path
        required: true
        schema:
          type: string
      - name: archiveRuns
        description: If true, will archive all runs associated with the asset.
        in: query
        required: false
        schema:
          type: boolean
      tags:
      - AssetService
components:
  schemas:
    v1DeleteAssetResponse:
      type: object
      description: 'The response of a call to `AssetService_DeleteAsset`.

        Deprecated: Use ArchiveAssetResponse instead.'
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v1ArchiveAssetResponse:
      type: object
      properties:
        archivedRunIds:
          type: array
          items:
            type: string
          description: 'List of run IDs that were archived when archive_runs was set to true.

            This field will be empty if archive_runs was false or if no runs were archived.'
      description: The response of a call to `AssetService_ArchiveAsset`.
    v1MetadataRelationValue:
      type: object
      properties:
        resourceType:
          type: string
        resourceId:
          type: string
      required:
      - resourceType
      - resourceId
    v1CreateAssetRequest:
      type: object
      properties:
        name:
          type: string
          description: The name of the asset to create. Must be unique within the organization. Required.
        tags:
          type: array
          items:
            type: string
          description: The names of the tags to associate with this asset. Optional.
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
          description: The metadata values to associate with this asset. Optional.
      description: The request for a call to `AssetService_CreateAsset` to create a single new, empty asset.
      required:
      - name
    v1UpdateAssetRequest:
      type: object
      properties:
        asset:
          $ref: '#/components/schemas/assetsv1Asset'
        updateMask:
          type: string
          description: The list of fields to be updated. The fields available to be updated are `tags`, `metadata`, `archived_date`, and `is_archived`.
      description: The request for a call to `AssetService_UpdateAsset` to update a single existing asset.
      required:
      - updateMask
    v1MetadataKeyType:
      type: string
      enum:
      - METADATA_KEY_TYPE_UNSPECIFIED
      - METADATA_KEY_TYPE_STRING
      - METADATA_KEY_TYPE_NUMBER
      - METADATA_KEY_TYPE_BOOLEAN
      - METADATA_KEY_TYPE_RELATION
      default: METADATA_KEY_TYPE_UNSPECIFIED
      description: "Metadata key type.\n\n - METADATA_KEY_TYPE_STRING: string\n - METADATA_KEY_TYPE_NUMBER: number\n - METADATA_KEY_TYPE_BOOLEAN: boolean\n - METADATA_KEY_TYPE_RELATION: relation — references another resource by UUID (e.g. folder membership)"
    v1GetAssetResponse:
      type: object
      properties:
        asset:
          $ref: '#/components/schemas/assetsv1Asset'
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v1MetadataKey:
      type: object
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/v1MetadataKeyType'
        archivedDate:
          type: string
          format: date-time
        isArchived:
          type: boolean
          description: "Whether the metadata key is archived. This is inferred from whether archived_date is set.\n\nThe filter field type this key maps to, so a client can build a CEL filter\n against it (`metadata[\"<name>\"]`) and resolve its operators and functions\n from FilterGrammarService. Derived from `type`."
      required:
      - name
      - type
    v1UpdateAssetResponse:
      type: object
      properties:
        asset:
          $ref: '#/components/schemas/assetsv1Asset'
      description: The response of a call to `AssetService_UpdateAsset`.
    v1CreateAssetResponse:
      type: object
      properties:
        asset:
          $ref: '#/components/schemas/assetsv1Asset'
      description: The response of a call to `AssetService_CreateAsset`.
    assetsv1Asset:
      type: object
      properties:
        assetId:
          type: string
        name:
          type: string
        organizationId:
          type: string
        createdDate:
          type: string
          format: date-time
        createdByUserId:
          type: string
        modifiedDate:
          type: string
          format: date-time
        modifiedByUserId:
          type: string
        tags:
          type: array
          items:
            type: string
          description: The names of the tags associated with this asset.
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
          description: The metadata values associated with this asset.
        archivedDate:
          type: string
          format: date-time
          description: The date the asset was archived.
        isArchived:
          type: boolean
          description: Whether the asset is archived. This is inferred from whether archived_date is set.
      required:
      - assetId
      - name
      - organizationId
      - createdDate
      - createdByUserId
      - modifiedDate
      - modifiedByUserId
      - tags
      - metadata
      - isArchived
    v1MetadataValue:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/v1MetadataKey'
        stringValue:
          type: string
        numberValue:
          type: number
          format: double
        booleanValue:
          type: boolean
        relationValue:
          $ref: '#/components/schemas/v1MetadataRelationValue'
        archivedDate:
          type: string
          format: date-time
        isArchived:
          type: boolean
          description: Whether the metadata value is archived. This is inferred from whether archived_date is set.
      required:
      - key
    v1ListAssetsResponse:
      type: object
      properties:
        assets:
          type: array
          items:
            $ref: '#/components/schemas/assetsv1Asset'
        nextPageToken:
          type: string
      description: The result of a call to `AssetService_ListAssets`.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
