openapi: 3.2.0
info:
  title: Sift Docs Service API
  version: '1.0'
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: DocsService
paths:
  /api/v1/docs:read:
    get:
      summary: ReadDoc
      description: Read the full markdown of a Sift documentation page by path.
      operationId: DocsService_ReadDocV1
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ReadDocResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: path
        description: 'Doc path returned by SearchDocs, e.g.

          "documentation/ingest/asset-channels.mdx". Required.'
        in: query
        required: true
        schema:
          type: string
      - name: offset
        description: 1-indexed start line. Defaults to 1. Optional.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: limit
        description: Number of lines to return. Defaults to all remaining lines. Optional.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      tags:
      - DocsService
  /api/v1/docs:search:
    get:
      summary: SearchDocs
      description: Keyword search across Sift's product documentation.
      operationId: DocsService_SearchDocsV1
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SearchDocsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: query
        description: Keyword query, e.g. "asset channels CEL". Required.
        in: query
        required: true
        schema:
          type: string
      - name: maxResults
        description: 'Maximum hits to return. Defaults to 10; values above the hard cap of 25 are

          coerced to 25. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int32
      tags:
      - DocsService
components:
  schemas:
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v1ReadDocResponse:
      type: object
      properties:
        path:
          type: string
          readOnly: true
        title:
          type: string
          readOnly: true
        totalLines:
          type: integer
          format: int32
          description: Total line count of the page (independent of offset/limit).
          readOnly: true
        startLine:
          type: integer
          format: int32
          description: 1-indexed line number of the first returned line.
          readOnly: true
        content:
          type: string
          description: 'Page markdown. Each line is prefixed with "{line_number}\t" so follow-up

            reads can target specific ranges. MDX/JSX tags are stripped; fenced code

            blocks are preserved.'
          readOnly: true
    v1DocHit:
      type: object
      properties:
        path:
          type: string
          description: Doc path, e.g. "documentation/ingest/asset-channels.mdx". Pass to ReadDoc.
          readOnly: true
        title:
          type: string
          readOnly: true
        score:
          type: integer
          format: int32
          description: 'Relevance score; higher is more relevant. Title matches weigh most, then

            headings, then body.'
          readOnly: true
        matchLine:
          type: integer
          format: int32
          description: '1-indexed line number of the best match, in the same coordinates as

            ReadDoc; pass to ReadDoc as offset to see more.'
          readOnly: true
        totalLines:
          type: integer
          format: int32
          description: Total line count of the page.
          readOnly: true
        content:
          type: string
          description: 'Window of the 10 lines above and below match_line, clamped to the page.

            Each line is prefixed with "{line_number}\t", aligned with ReadDoc.'
          readOnly: true
    v1SearchDocsResponse:
      type: object
      properties:
        hits:
          type: array
          items:
            $ref: '#/components/schemas/v1DocHit'
          readOnly: true
        totalScanned:
          type: integer
          format: int32
          description: Total number of doc pages scanned to produce these hits.
          readOnly: true
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
