openapi: 3.2.0
info:
  title: Sift Metadata Service API
  version: '1.0'
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: MetadataService
paths:
  /api/v1/metadata-key-usage:
    get:
      summary: ListMetadataUsage
      description: List metadata key usage.
      operationId: MetadataService_ListMetadataUsage
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListMetadataUsageResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of metadata key usages to return. The service may return fewer than this value.

          If unspecified, at most 50 metadata key usages will be returned. The maximum value is 1000; values above

          1000 will be coerced to 1000. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListMetadataUsage` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListMetadataUsage` must match

          the call that provided the page token. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are:

          `entity_name`, `entity_type`, `key_name`,`value_string`, `value_number`, and `value_boolean`.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).

          For more information about the fields used for filtering, please refer to this definition. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved metadata key usages. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `created_date`, `entity_id` and `entity_type`.

          If left empty, items are ordered by `created_date` in ascending order (oldest-first).

          For more information about the format of this field, read [this](https://google.aip.dev/132#ordering)

          Example: "created_date desc"'
        in: query
        required: false
        schema:
          type: string
      tags:
      - MetadataService
  /api/v1/metadata-keys:
    get:
      summary: ListMetadataKeys
      description: List metadata keys.
      operationId: MetadataService_ListMetadataKeys
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListMetadataKeysResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of metadata keys to return. The service may return fewer than this value.

          If unspecified, at most 50 metadata keys will be returned. The maximum value is 1000; values above

          1000 will be coerced to 1000. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListMetadataKeys` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListMetadataKeys` must match

          the call that provided the page token. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are:

          `name`, `archived_date`, and `is_archived`.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).

          For more information about the fields used for filtering, please refer to this definition. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved metadata keys. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `created_date` and `name`.

          If left empty, items are ordered by `created_date` in ascending order (oldest-first).

          For more information about the format of this field, read [this](https://google.aip.dev/132#ordering)

          Example: "created_date desc,modified_date"'
        in: query
        required: false
        schema:
          type: string
      tags:
      - MetadataService
    post:
      summary: CreateMetadataKey
      description: Create a metadata key.
      operationId: MetadataService_CreateMetadataKey
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateMetadataKeyResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateMetadataKeyRequest'
        description: The request of a call to `MetadataService_CreateMetadataKey` to create a metadata key.
        required: true
      tags:
      - MetadataService
  /api/v1/metadata-keys/archive:
    post:
      summary: ArchiveMetadataKeys
      description: Archive metadata keys.
      operationId: MetadataService_ArchiveMetadataKeys
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ArchiveMetadataKeysResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ArchiveMetadataKeysRequest'
        required: true
      tags:
      - MetadataService
  /api/v1/metadata-keys/delete:
    post:
      summary: DeleteMetadataKeys
      description: Delete metadata keys.
      operationId: MetadataService_DeleteMetadataKeys
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteMetadataKeysResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DeleteMetadataKeysRequest'
        required: true
      tags:
      - MetadataService
  /api/v1/metadata-keys/unarchive:
    post:
      summary: UnarchiveMetadataKeys
      description: Unarchive metadata keys.
      operationId: MetadataService_UnarchiveMetadataKeys
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UnarchiveMetadataKeysResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UnarchiveMetadataKeysRequest'
        required: true
      tags:
      - MetadataService
  /api/v1/metadata-values:
    get:
      summary: ListMetadataValues
      description: List metadata values.
      operationId: MetadataService_ListMetadataValues
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListMetadataValuesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of metadata values to return. The service may return fewer than this value.

          If unspecified, at most 50 metadata values will be returned. The maximum value is 1000; values above

          1000 will be coerced to 1000. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListMetadataValues` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListMetadataValues` must match

          the call that provided the page token. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are:

          `value_string`, `value_number`, `value_boolean`, `archived_date`, and `is_archived`.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).

          For more information about the fields used for filtering, please refer to this definition. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved metadata keys. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `created_date` and `name`.

          If left empty, items are ordered by `created_date` in ascending order (oldest-first).

          For more information about the format of this field, read [this](https://google.aip.dev/132#ordering)

          Example: "created_date desc,modified_date"'
        in: query
        required: false
        schema:
          type: string
      - name: metadataKeyName
        description: The name of the metadata key to list values for.
        in: query
        required: true
        schema:
          type: string
      tags:
      - MetadataService
    post:
      summary: Create a metadata value.
      operationId: MetadataService_CreateMetadataValue
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateMetadataValueResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateMetadataValueRequest'
        description: The request of a call to `MetadataService_CreateMetadataValue` to create a metadata value.
        required: true
      tags:
      - MetadataService
  /api/v1/metadata-values/archive:
    post:
      summary: ArchiveMetadataValues
      description: Archive metadata values.
      operationId: MetadataService_ArchiveMetadataValues
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ArchiveMetadataValuesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ArchiveMetadataValuesRequest'
        required: true
      tags:
      - MetadataService
  /api/v1/metadata-values/delete:
    post:
      summary: DeleteMetadataValues
      description: Delete metadata values.
      operationId: MetadataService_DeleteMetadataValues
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteMetadataValuesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DeleteMetadataValuesRequest'
        required: true
      tags:
      - MetadataService
  /api/v1/metadata-values/unarchive:
    post:
      summary: UnarchiveMetadataValues
      description: Unarchive metadata values.
      operationId: MetadataService_UnarchiveMetadataValues
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UnarchiveMetadataValuesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UnarchiveMetadataValuesRequest'
        required: true
      tags:
      - MetadataService
components:
  schemas:
    v1ListMetadataValuesResponse:
      type: object
      properties:
        metadataValues:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
        nextPageToken:
          type: string
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v1CreateMetadataValueRequest:
      type: object
      properties:
        metadataValue:
          $ref: '#/components/schemas/v1MetadataValue'
      description: The request of a call to `MetadataService_CreateMetadataValue` to create a metadata value.
      required:
      - metadataValue
    v1MetadataUsage:
      type: object
      properties:
        entityId:
          type: string
          description: The ID of the entity. For example assetId, runId, reportId, etc.
        entityType:
          type: string
          description: The type of the entity. For example asset, run, report, etc.
        value:
          $ref: '#/components/schemas/v1MetadataValue'
      required:
      - entityId
      - entityType
      - value
    v1DeleteMetadataValuesRequest:
      type: object
      properties:
        metadataValues:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
      required:
      - metadataValues
    v1ArchiveMetadataKeysResponse:
      type: object
    v1ListMetadataKeysResponse:
      type: object
      properties:
        metadataKeys:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataKey'
        nextPageToken:
          type: string
      description: The response of a call to `MetadataService_ListMetadataKeysResponse`.
    v1MetadataValue:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/v1MetadataKey'
        stringValue:
          type: string
        numberValue:
          type: number
          format: double
        booleanValue:
          type: boolean
        relationValue:
          $ref: '#/components/schemas/v1MetadataRelationValue'
        archivedDate:
          type: string
          format: date-time
        isArchived:
          type: boolean
          description: Whether the metadata value is archived. This is inferred from whether archived_date is set.
      required:
      - key
    v1ArchiveMetadataValuesResponse:
      type: object
    v1DeleteMetadataValuesResponse:
      type: object
    v1UnarchiveMetadataKeysResponse:
      type: object
    v1ArchiveMetadataValuesRequest:
      type: object
      properties:
        metadataValues:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
      required:
      - metadataValues
    v1UnarchiveMetadataValuesResponse:
      type: object
    v1CreateMetadataKeyRequest:
      type: object
      properties:
        metadataKey:
          $ref: '#/components/schemas/v1MetadataKey'
      description: The request of a call to `MetadataService_CreateMetadataKey` to create a metadata key.
      required:
      - metadataKey
    v1ListMetadataUsageResponse:
      type: object
      properties:
        metadataUsages:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataUsage'
        nextPageToken:
          type: string
    v1DeleteMetadataKeysResponse:
      type: object
    v1DeleteMetadataKeysRequest:
      type: object
      properties:
        metadataKeys:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataKey'
      required:
      - metadataKeys
    v1MetadataRelationValue:
      type: object
      properties:
        resourceType:
          type: string
        resourceId:
          type: string
      required:
      - resourceType
      - resourceId
    v1MetadataKeyType:
      type: string
      enum:
      - METADATA_KEY_TYPE_UNSPECIFIED
      - METADATA_KEY_TYPE_STRING
      - METADATA_KEY_TYPE_NUMBER
      - METADATA_KEY_TYPE_BOOLEAN
      - METADATA_KEY_TYPE_RELATION
      default: METADATA_KEY_TYPE_UNSPECIFIED
      description: "Metadata key type.\n\n - METADATA_KEY_TYPE_STRING: string\n - METADATA_KEY_TYPE_NUMBER: number\n - METADATA_KEY_TYPE_BOOLEAN: boolean\n - METADATA_KEY_TYPE_RELATION: relation — references another resource by UUID (e.g. folder membership)"
    v1UnarchiveMetadataValuesRequest:
      type: object
      properties:
        metadataValues:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
      required:
      - metadataValues
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v1MetadataKey:
      type: object
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/v1MetadataKeyType'
        archivedDate:
          type: string
          format: date-time
        isArchived:
          type: boolean
          description: "Whether the metadata key is archived. This is inferred from whether archived_date is set.\n\nThe filter field type this key maps to, so a client can build a CEL filter\n against it (`metadata[\"<name>\"]`) and resolve its operators and functions\n from FilterGrammarService. Derived from `type`."
      required:
      - name
      - type
    v1CreateMetadataKeyResponse:
      type: object
      properties:
        metadataKey:
          $ref: '#/components/schemas/v1MetadataKey'
      description: The response of a call to `MetadataService_CreateMetadataKey` to create a metadata key.
      required:
      - metadataKey
    v1CreateMetadataValueResponse:
      type: object
      properties:
        metadataValue:
          $ref: '#/components/schemas/v1MetadataValue'
      description: The response of a call to `MetadataService_CreateMetadataValue` to create a metadata value.
      required:
      - metadataValue
    v1ArchiveMetadataKeysRequest:
      type: object
      properties:
        metadataKeys:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataKey'
      required:
      - metadataKeys
    v1UnarchiveMetadataKeysRequest:
      type: object
      properties:
        metadataKeys:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataKey'
        unarchiveValues:
          type: boolean
      required:
      - metadataKeys
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
