openapi: 3.2.0
info:
  title: Sift Remote File Service API
  version: '1.0'
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: RemoteFileService
paths:
  /api/v1/remote-files:
    get:
      summary: ListRemoteFiles
      description: List remote files.
      operationId: RemoteFileService_ListRemoteFiles
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListRemoteFilesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of remote files to return. The service may return fewer than this value.

          If unspecified, at most 50 remote files will be returned. The maximum value is 1000; values above

          1000 will be coerced to 1000. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListRemoteFiles` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListRemoteFiles` must match

          the call that provided the page token. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `remote_file_id`, `entity_id`, `entity_type`, `metadata`, and `file_name`.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).'
        in: query
        required: false
        schema:
          type: string
      - name: organizationId
        description: This field is only required if your user belongs to multiple organizations.
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved reports. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `name`, `created_date` and `modified_date`.

          If left empty, items are ordered by `created_date` in descending order (newest-first).

          For more information about the format of this field, read [this](https://google.aip.dev/132#ordering)

          Example: "created_date desc,modified_date"'
        in: query
        required: false
        schema:
          type: string
      tags:
      - RemoteFileService
    post:
      summary: CreateRemoteFile
      description: Create a remote file.
      operationId: RemoteFileService_CreateRemoteFile
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateRemoteFileResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateRemoteFileRequest'
        description: The request for a call to `RemoteFileService_CreateRemoteFile` to create a remote file.
        required: true
      tags:
      - RemoteFileService
    patch:
      summary: UpdateRemoteFile
      description: Updates an existing remote file using using the list of fields specified in `update_mask`.
      operationId: RemoteFileService_UpdateRemoteFile
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateRemoteFileResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateRemoteFileRequest'
        description: The request for a call to `RemoteFileService_UpdateRemoteFile` to update a remote file.
        required: true
      tags:
      - RemoteFileService
  /api/v1/remote-files/{remoteFileId}:
    get:
      summary: GetRemoteFile
      description: Retrieve a remote file.
      operationId: RemoteFileService_GetRemoteFile
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetRemoteFileResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: remoteFileId
        in: path
        required: true
        schema:
          type: string
      tags:
      - RemoteFileService
    delete:
      summary: DeleteRemoteFile
      description: Delete a remote file.
      operationId: RemoteFileService_DeleteRemoteFile
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteRemoteFileResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: remoteFileId
        in: path
        required: true
        schema:
          type: string
      tags:
      - RemoteFileService
  /api/v1/remote-files/{remoteFileId}/download-url:
    get:
      summary: GetRemoteFileUrl
      description: Gets a download URL for the remote file.
      operationId: RemoteFileService_GetRemoteFileDownloadUrl
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetRemoteFileDownloadUrlResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: remoteFileId
        in: path
        required: true
        schema:
          type: string
      tags:
      - RemoteFileService
  /api/v1/remote-files:batchDelete:
    post:
      summary: BatchDeleteRemoteFiles
      description: Batch delete remote files. Each batch is limited to 1000 records.
      operationId: RemoteFileService_BatchDeleteRemoteFiles
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BatchDeleteRemoteFilesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BatchDeleteRemoteFilesRequest'
        description: The request for a call to `RemoteFileService_BatchDeleteRemoteFiles` to delete remote files.
        required: true
      tags:
      - RemoteFileService
components:
  schemas:
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v1ImageMetadata:
      type: object
      properties:
        height:
          type: integer
          format: int64
        width:
          type: integer
          format: int64
    v1ListRemoteFilesResponse:
      type: object
      properties:
        remoteFiles:
          type: array
          items:
            $ref: '#/components/schemas/v1RemoteFile'
        nextPageToken:
          type: string
      description: The response of a call to `RemoteFileService_ListRemoteFilesResponse`.
    v1BatchDeleteRemoteFilesRequest:
      type: object
      properties:
        remoteFileIds:
          type: array
          items:
            type: string
          description: Up to 1000 remote file IDs can be provided per request.
      description: The request for a call to `RemoteFileService_BatchDeleteRemoteFiles` to delete remote files.
    v1UpdateRemoteFileRequest:
      type: object
      properties:
        remoteFile:
          $ref: '#/components/schemas/v1RemoteFile'
        updateMask:
          type: string
          description: The list of fields to be updated. The fields available to be updated are `description`, `metadata_values`, and `metadata`.
      description: The request for a call to `RemoteFileService_UpdateRemoteFile` to update a remote file.
      required:
      - remoteFile
      - updateMask
    v1UpdateRemoteFileResponse:
      type: object
      properties:
        remoteFile:
          $ref: '#/components/schemas/v1RemoteFile'
      description: The response of a call to `RemoteFileService_UpdateRemoteFile`.
      required:
      - remoteFile
    v1DeleteRemoteFileResponse:
      type: object
      description: The response of a call to `RemoteFileService_DeleteRemoteFile`.
    v1VideoMetadata:
      type: object
      properties:
        height:
          type: integer
          format: int64
        width:
          type: integer
          format: int64
        durationSeconds:
          type: number
          format: float
        timestamp:
          type: string
          format: date-time
    v1MetadataValue:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/v1MetadataKey'
        stringValue:
          type: string
        numberValue:
          type: number
          format: double
        booleanValue:
          type: boolean
        relationValue:
          $ref: '#/components/schemas/v1MetadataRelationValue'
        archivedDate:
          type: string
          format: date-time
        isArchived:
          type: boolean
          description: Whether the metadata value is archived. This is inferred from whether archived_date is set.
      required:
      - key
    v1CreateRemoteFileRequest:
      type: object
      properties:
        fileName:
          type: string
        entityId:
          type: string
        entityType:
          $ref: '#/components/schemas/v1EntityType'
        fileMimeType:
          type: string
        fileContentEncoding:
          type: string
        fileSize:
          type: string
          format: uint64
        description:
          type: string
        organizationId:
          type: string
          description: This field is only required if your user belongs to multiple organizations.
        videoMetadata:
          $ref: '#/components/schemas/v1VideoMetadata'
        imageMetadata:
          $ref: '#/components/schemas/v1ImageMetadata'
        audioMetadata:
          $ref: '#/components/schemas/v1AudioMetadata'
        customUuid:
          type: string
          description: A custom UUID used to generate the object key. Recommended to be left unset.
        metadataValues:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
          description: The metadata values associated with this remote file.
      description: The request for a call to `RemoteFileService_CreateRemoteFile` to create a remote file.
      required:
      - fileName
      - entityId
      - entityType
      - fileMimeType
      - fileContentEncoding
      - fileSize
    v1GetRemoteFileDownloadUrlResponse:
      type: object
      properties:
        downloadUrl:
          type: string
      description: The response of a call to `RemoteFileService_GetRemoteFileDownloadUrl`.
      required:
      - downloadUrl
    v1RemoteFile:
      type: object
      properties:
        remoteFileId:
          type: string
        organizationId:
          type: string
        entityId:
          type: string
        entityType:
          $ref: '#/components/schemas/v1EntityType'
        fileName:
          type: string
        fileMimeType:
          type: string
        fileContentEncoding:
          type: string
        storageKey:
          type: string
        fileSize:
          type: string
          format: uint64
        description:
          type: string
        videoMetadata:
          $ref: '#/components/schemas/v1VideoMetadata'
        imageMetadata:
          $ref: '#/components/schemas/v1ImageMetadata'
        audioMetadata:
          $ref: '#/components/schemas/v1AudioMetadata'
        createdByUserId:
          type: string
        modifiedByUserId:
          type: string
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        metadataValues:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
        remoteFileType:
          $ref: '#/components/schemas/v1RemoteFileType'
      required:
      - remoteFileId
      - organizationId
      - entityId
      - entityType
      - fileName
      - fileMimeType
      - fileContentEncoding
      - storageKey
      - fileSize
      - createdByUserId
      - modifiedByUserId
      - createdDate
      - modifiedDate
      - remoteFileType
    v1GetRemoteFileResponse:
      type: object
      properties:
        remoteFile:
          $ref: '#/components/schemas/v1RemoteFile'
      description: The response of a call to `RemoteFileService_GetRemoteFile`.
      required:
      - remoteFile
    v1BatchDeleteRemoteFilesResponse:
      type: object
      description: The response of a call to `RemoteFileService_BatchDeleteRemoteFiles`.
    v1MetadataRelationValue:
      type: object
      properties:
        resourceType:
          type: string
        resourceId:
          type: string
      required:
      - resourceType
      - resourceId
    v1EntityType:
      type: string
      enum:
      - ENTITY_TYPE_UNSPECIFIED
      - ENTITY_TYPE_RUN
      - ENTITY_TYPE_ANNOTATION
      - ENTITY_TYPE_ASSET
      - ENTITY_TYPE_ANNOTATION_LOG
      - ENTITY_TYPE_TEST_REPORT
      - ENTITY_TYPE_TEST_STEP
      - ENTITY_TYPE_CANVAS_VERSION
      - ENTITY_TYPE_CANVAS_CELL_EXECUTION_ATTACHMENT
      - ENTITY_TYPE_CANVAS_CELL_EXECUTION_OUTPUT
      default: ENTITY_TYPE_UNSPECIFIED
      description: " - ENTITY_TYPE_CANVAS_CELL_EXECUTION_ATTACHMENT: UI evidence files attached to a cell execution on a canvas report.\n - ENTITY_TYPE_CANVAS_CELL_EXECUTION_OUTPUT: Reserved for a future cell-output upload path (not used by the report\nattachment UI)."
    v1CreateRemoteFileResponse:
      type: object
      properties:
        remoteFile:
          $ref: '#/components/schemas/v1RemoteFile'
      description: The response for a call to `RemoteFileService_CreateRemoteFile`.
      required:
      - remoteFile
    v1MetadataKeyType:
      type: string
      enum:
      - METADATA_KEY_TYPE_UNSPECIFIED
      - METADATA_KEY_TYPE_STRING
      - METADATA_KEY_TYPE_NUMBER
      - METADATA_KEY_TYPE_BOOLEAN
      - METADATA_KEY_TYPE_RELATION
      default: METADATA_KEY_TYPE_UNSPECIFIED
      description: "Metadata key type.\n\n - METADATA_KEY_TYPE_STRING: string\n - METADATA_KEY_TYPE_NUMBER: number\n - METADATA_KEY_TYPE_BOOLEAN: boolean\n - METADATA_KEY_TYPE_RELATION: relation — references another resource by UUID (e.g. folder membership)"
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v1MetadataKey:
      type: object
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/v1MetadataKeyType'
        archivedDate:
          type: string
          format: date-time
        isArchived:
          type: boolean
          description: "Whether the metadata key is archived. This is inferred from whether archived_date is set.\n\nThe filter field type this key maps to, so a client can build a CEL filter\n against it (`metadata[\"<name>\"]`) and resolve its operators and functions\n from FilterGrammarService. Derived from `type`."
      required:
      - name
      - type
    v1AudioMetadata:
      type: object
      properties:
        durationSeconds:
          type: number
          format: float
        timestamp:
          type: string
          format: date-time
    v1RemoteFileType:
      type: string
      enum:
      - REMOTE_FILE_TYPE_UNSPECIFIED
      - REMOTE_FILE_TYPE_TELEMETRY
      - REMOTE_FILE_TYPE_IMAGE
      - REMOTE_FILE_TYPE_VIDEO
      - REMOTE_FILE_TYPE_AUDIO
      - REMOTE_FILE_TYPE_TEST_REPORT
      default: REMOTE_FILE_TYPE_UNSPECIFIED
      description: ' - REMOTE_FILE_TYPE_TELEMETRY: Data import / telemetry (internal: created by import job).'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
