openapi: 3.2.0
info:
  title: Sift Notification Service API
  version: '1.0'
  description: Service to programmatically interact with in-app notifications.
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: NotificationService
  description: Service to programmatically interact with in-app notifications.
paths:
  /api/v1/notifications:
    get:
      summary: ListNotifications
      description: Retrieves notifications using an optional filter.
      operationId: NotificationService_ListNotifications
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListNotificationsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of notifications to return.

          The service may return fewer than this value.

          If unspecified, at most 50 notifications will be returned.

          The maximum value is 1000; values above 1000 will be coerced to 1000.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListNotifications` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListNotifications` must match

          the call that provided the page token.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `notification_id`, `created_by_user_id`, `recipient_user_id`,

          `created_date`, `notification_type`, and `is_read`.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).'
        in: query
        required: false
        schema:
          type: string
      tags:
      - NotificationService
  /api/v1/notifications:batchUpdate:
    post:
      summary: BatchUpdateNotifications
      description: Batch updates a list of notifications using the list of fields specified in their respective `update_mask`s.
      operationId: NotificationService_BatchUpdateNotifications
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BatchUpdateNotificationsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BatchUpdateNotificationsRequest'
        description: 'The request for a call to `NotificationService_BatchUpdateNotifications` to update notifications.

          A maximum of 1000 notifications can be modified in a batch.'
        required: true
      tags:
      - NotificationService
components:
  schemas:
    v1NotificationKind:
      type: string
      enum:
      - NOTIFICATION_KIND_UNSPECIFIED
      - NOTIFICATION_KIND_TEXT
      - NOTIFICATION_KIND_ANNOTATION_ASSIGNED
      - NOTIFICATION_KIND_MENTIONED_IN_ANNOTATION_COMMENT
      - NOTIFICATION_KIND_CONDITION_TRIGGERED
      - NOTIFICATION_KIND_ANNOTATION_STATE_CHANGED
      - NOTIFICATION_KIND_REPORT_READY
      - NOTIFICATION_KIND_DATA_EXPORT_READY
      - NOTIFICATION_KIND_MENTIONED_IN_COMMENT
      default: NOTIFICATION_KIND_UNSPECIFIED
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v1BatchUpdateNotificationsRequest:
      type: object
      properties:
        requests:
          type: array
          items:
            $ref: '#/components/schemas/v1UpdateNotificationRequest'
      description: 'The request for a call to `NotificationService_BatchUpdateNotifications` to update notifications.

        A maximum of 1000 notifications can be modified in a batch.'
      required:
      - requests
    v1UpdateNotificationRequest:
      type: object
      properties:
        notification:
          $ref: '#/components/schemas/v1Notification'
        updateMask:
          type: string
          description: The list of fields to be updated. Currently, the only field that can be updated is `is_read`.
      required:
      - notification
      - updateMask
    v1Notification:
      type: object
      properties:
        notificationId:
          type: string
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        createdByUserId:
          type: string
        modifiedByUserId:
          type: string
        organizationId:
          type: string
        recipientUserId:
          type: string
        isRead:
          type: boolean
        fullLink:
          type: string
        notificationType:
          $ref: '#/components/schemas/v1NotificationKind'
        contents:
          type: string
        entityId:
          type: string
    v1BatchUpdateNotificationsResponse:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/v1Notification'
          description: The updated notifications.
      description: The response of a call to `NotificationService_BatchUpdateNotifications` containing the updated notifications.
    v1ListNotificationsResponse:
      type: object
      properties:
        notifications:
          type: array
          items:
            $ref: '#/components/schemas/v1Notification'
        nextPageToken:
          type: string
      description: The response of a call to `NotificationService_ListNotifications`.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
