openapi: 3.2.0
info:
  title: Sift Comment Service API
  version: '1.0'
  description: Service to programmatically interact with comments attached to resources in the platform.
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: CommentService
  description: Service to programmatically interact with comments attached to resources in the platform.
paths:
  /api/v1/comments:
    get:
      summary: ListComments
      description: Retrieves comments using an optional filter.
      operationId: CommentService_ListComments
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListCommentsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: The maximum number of comments to return. Defaults to 50, max 1000.
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: A page token, received from a previous `ListComments` call.
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `comment_id`, `resource_id`, `entity_type`,

          `created_by_user_id`, `created_date`, and `modified_date`.'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved comments. Formatted as a comma-separated string

          i.e. "FIELD_NAME[ desc],...". Available fields to order_by are `created_date`

          and `modified_date`. Defaults to `created_date` ascending (oldest-first).'
        in: query
        required: false
        schema:
          type: string
      tags:
      - CommentService
    post:
      summary: CreateComment
      description: Creates a comment on a resource.
      operationId: CommentService_CreateComment
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateCommentResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateCommentRequest'
        description: The request for a call to `CommentService_CreateComment`.
        required: true
      tags:
      - CommentService
  /api/v1/comments/{comment.commentId}:
    patch:
      summary: UpdateComment
      description: Updates the body of an existing comment.
      operationId: CommentService_UpdateComment
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateCommentResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: comment.commentId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                comment:
                  type: object
                  properties:
                    resourceId:
                      type: string
                      description: The ID of the resource the comment is attached to (e.g. a canvas_cell_execution_id).
                    entityType:
                      $ref: '#/components/schemas/v1CommentEntityType'
                    createdDate:
                      type: string
                      format: date-time
                    modifiedDate:
                      type: string
                      format: date-time
                    createdByUserId:
                      type: string
                    createdByUserName:
                      type: string
                    body:
                      type: array
                      items:
                        $ref: '#/components/schemas/v1CommentBodyElement'
                      description: The rich-text body of the comment.
                  description: A single comment attached to a resource.
                updateMask:
                  type: string
                  description: Comma-separated list of fields to update. Only `body` is supported.
              description: The request for a call to `CommentService_UpdateComment`.
              required:
              - resourceId
              - entityType
              - createdDate
              - modifiedDate
              - createdByUserId
              - createdByUserName
              - body
              - updateMask
        required: true
      tags:
      - CommentService
  /api/v1/comments/{commentId}:
    delete:
      summary: DeleteComment
      description: Deletes a comment.
      operationId: CommentService_DeleteComment
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteCommentResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: commentId
        in: path
        required: true
        schema:
          type: string
      tags:
      - CommentService
components:
  schemas:
    v1CommentBodyElementType:
      type: string
      enum:
      - COMMENT_BODY_ELEMENT_TYPE_UNSPECIFIED
      - COMMENT_BODY_ELEMENT_TYPE_TEXT
      - COMMENT_BODY_ELEMENT_TYPE_USER_MENTION
      default: COMMENT_BODY_ELEMENT_TYPE_UNSPECIFIED
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v1CreateCommentRequest:
      type: object
      properties:
        resourceId:
          type: string
          description: The ID of the resource to attach the comment to.
        entityType:
          $ref: '#/components/schemas/v1CommentEntityType'
        body:
          type: array
          items:
            $ref: '#/components/schemas/v1CommentBodyElement'
          description: The rich-text body of the new comment.
      description: The request for a call to `CommentService_CreateComment`.
      required:
      - resourceId
      - entityType
      - body
    v1CommentBodyElement:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/v1CommentBodyElementType'
        text:
          type: string
          description: Only set when `type` is TEXT.
        userMention:
          $ref: '#/components/schemas/v1CommentUserMention'
      description: A single element of a comment body. Either plain text or a user mention.
      required:
      - type
    v1DeleteCommentResponse:
      type: object
      description: The response of a call to `CommentService_DeleteComment`.
    v1CommentEntityType:
      type: string
      enum:
      - COMMENT_ENTITY_TYPE_UNSPECIFIED
      - COMMENT_ENTITY_TYPE_CANVAS_CELL_EXECUTION
      default: COMMENT_ENTITY_TYPE_UNSPECIFIED
      description: The type of resource a comment is attached to. Designed to be extended over time.
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v1UpdateCommentResponse:
      type: object
      properties:
        comment:
          $ref: '#/components/schemas/v1Comment'
      description: The response of a call to `CommentService_UpdateComment`.
    v1ListCommentsResponse:
      type: object
      properties:
        comments:
          type: array
          items:
            $ref: '#/components/schemas/v1Comment'
        nextPageToken:
          type: string
      description: The response of a call to `CommentService_ListComments`.
    v1Comment:
      type: object
      properties:
        commentId:
          type: string
        resourceId:
          type: string
          description: The ID of the resource the comment is attached to (e.g. a canvas_cell_execution_id).
        entityType:
          $ref: '#/components/schemas/v1CommentEntityType'
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        createdByUserId:
          type: string
        createdByUserName:
          type: string
        body:
          type: array
          items:
            $ref: '#/components/schemas/v1CommentBodyElement'
          description: The rich-text body of the comment.
      description: A single comment attached to a resource.
      required:
      - commentId
      - resourceId
      - entityType
      - createdDate
      - modifiedDate
      - createdByUserId
      - createdByUserName
      - body
    v1CreateCommentResponse:
      type: object
      properties:
        comment:
          $ref: '#/components/schemas/v1Comment'
      description: The response of a call to `CommentService_CreateComment`.
    v1CommentUserMention:
      type: object
      properties:
        userId:
          type: string
        userEmail:
          type: string
      required:
      - userId
      - userEmail
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
