openapi: 3.2.0
info:
  title: Sift Rule Service API
  version: '1.0'
  description: Service to programmatically interact with rules.
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: RuleService
  description: Service to programmatically interact with rules.
  externalDocs:
    description: Read more about what rules are.
    url: https://customer.support.siftstack.com/servicedesk/customer/portal/2/article/265421102
paths:
  /api/v1/rules:
    get:
      summary: GetRule
      description: Retrieves the latest version of a rule.
      operationId: RuleService_GetRule
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetRuleResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: ruleId
        in: query
        required: false
        schema:
          type: string
      - name: clientKey
        in: query
        required: false
        schema:
          type: string
      tags:
      - RuleService
    post:
      summary: CreateRule
      description: Creates a rule.
      operationId: RuleService_CreateRule
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateRuleResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateRuleRequest'
        required: true
      tags:
      - RuleService
    put:
      summary: UpdateRule
      description: Updates an existing rule.
      operationId: RuleService_UpdateRule
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateRuleResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateRuleRequest'
        description: UpdateRuleRequest is used to create or update a rule. If the rule_id or client_key is provided, the rule will be updated. If not, a new rule will be created.
        required: true
      tags:
      - RuleService
  /api/v1/rules/archive:
    post:
      summary: ArchiveRule
      description: Archives a rule.
      operationId: RuleService_ArchiveRule
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ArchiveRuleResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ArchiveRuleRequest'
        description: ArchiveRuleRequest is used to archive a rule by rule_id or client_key. If both are provided, only rule_id will be used.
        required: true
      tags:
      - RuleService
  /api/v1/rules/batchArchive:
    post:
      summary: BatchArchiveRules
      description: Batch archives rules.
      operationId: RuleService_BatchArchiveRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BatchArchiveRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BatchArchiveRulesRequest'
        description: BatchArchiveRulesRequest is used to archive a rule by rule_id or client_key. For each rule if both are provided, only rule_id will be used.
        required: true
      tags:
      - RuleService
  /api/v1/rules/batchDelete:
    post:
      summary: BatchDeleteRules
      description: 'Archives multiple rules. Deprecated: Use BatchArchiveRules instead.'
      operationId: RuleService_BatchDeleteRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BatchDeleteRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BatchDeleteRulesRequest'
        description: BatchDeleteRulesRequest is used to delete a rule by rule_id or client_key. For each rule if both are provided, only rule_id will be used.
        required: true
      tags:
      - RuleService
  /api/v1/rules/batchUnarchive:
    post:
      summary: BatchUnarchiveRules
      description: Batch unarchives rules.
      operationId: RuleService_BatchUnarchiveRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BatchUnarchiveRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BatchUnarchiveRulesRequest'
        description: BatchUnarchiveRulesRequest is used to unarchive a rule by rule_id or client_key. For each rule if both are provided, only rule_id will be used.
        required: true
      tags:
      - RuleService
  /api/v1/rules/batchUndelete:
    post:
      summary: BatchUndeleteRules
      description: 'Deprecated: Use BatchUnarchiveRules instead.'
      operationId: RuleService_BatchUndeleteRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BatchUndeleteRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BatchUndeleteRulesRequest'
        description: BatchUndeleteRulesRequest is used to delete a rule by rule_id or client_key. For each rule if both are provided, only rule_id will be used.
        required: true
      tags:
      - RuleService
  /api/v1/rules/delete:
    post:
      summary: DeleteRule
      description: 'Archives a rule. Deprecated: Use ArchiveRule instead.'
      operationId: RuleService_DeleteRule
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1DeleteRuleResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1DeleteRuleRequest'
        description: DeleteRuleRequest is used to delete a rule by rule_id or client_key. If both are provided, only rule_id will be used.
        required: true
      tags:
      - RuleService
  /api/v1/rules/evaluate:
    post:
      summary: EvaluateRules
      description: Evaluates the provided rules and generate annotations based on the result.
      operationId: RuleService_EvaluateRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/siftrulesv1EvaluateRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/siftrulesv1EvaluateRulesRequest'
        description: Deprecated - use RuleEvaluationService instead.
        required: true
      tags:
      - RuleService
  /api/v1/rules/search:
    post:
      summary: SearchRules
      description: Queries rules based on provided search parameters.
      operationId: RuleService_SearchRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1SearchRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1SearchRulesRequest'
        required: true
      tags:
      - RuleService
  /api/v1/rules/unarchive:
    post:
      summary: UnarchiveRule
      description: Unarchives a rule.
      operationId: RuleService_UnarchiveRule
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UnarchiveRuleResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UnarchiveRuleRequest'
        description: UnarchiveRuleRequest is used to unarchive a rule by rule_id or client_key. If both are provided, only rule_id will be used.
        required: true
      tags:
      - RuleService
  /api/v1/rules/undelete:
    post:
      summary: UndeleteRule
      description: 'Deprecated: Use UnarchiveRule instead.'
      operationId: RuleService_UndeleteRule
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UndeleteRuleResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UndeleteRuleRequest'
        description: UndeleteRuleRequest is used to undelete a rule by rule_id or client_key. If both are provided, only rule_id will be used.
        required: true
      tags:
      - RuleService
  /api/v1/rules/{ruleId}/versions:
    get:
      summary: ListRuleVersions
      description: Retrieves a list of rule versions for the given rule.
      operationId: RuleService_ListRuleVersions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListRuleVersionsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: ruleId
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: 'The maximum number of Rule Versions to return.

          The service may return fewer than this value.

          If unspecified, at most 50 Rule Versions will be returned.

          The maximum value is 1000; values above 1000 will be coerced to 1000.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListRuleVersions` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListRuleVersions` must match

          the call that provided the page token.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `rule_version_id`, `user_notes`,  and `change_message`.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions). Optional.'
        in: query
        required: false
        schema:
          type: string
      tags:
      - RuleService
  /api/v1/rules:batchGet:
    post:
      summary: BatchGetRules
      description: Retrieves multiple rules.
      operationId: RuleService_BatchGetRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BatchGetRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BatchGetRulesRequest'
        description: BatchGetRulesRequest is used to retrieve rules by rule_ids or client_keys. If both are provided, both will be used to retrieve rules.
        required: true
      tags:
      - RuleService
  /api/v1/rules:batchGetVersions:
    post:
      summary: BatchGetRuleVersions
      description: Retrieves multiple rules by rule versions.
      operationId: RuleService_BatchGetRuleVersions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BatchGetRuleVersionsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BatchGetRuleVersionsRequest'
        required: true
      tags:
      - RuleService
  /api/v1/rules:batchUpdate:
    put:
      summary: BatchUpdateRules
      description: Updates existing rules or creates rules that do not exist.
      operationId: RuleService_BatchUpdateRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1BatchUpdateRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1BatchUpdateRulesRequest'
        required: true
      tags:
      - RuleService
  /api/v1/rules:list:
    get:
      summary: ListRules
      description: Retrieves a list of rules.
      operationId: RuleService_ListRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of Rules to return.

          The service may return fewer than this value.

          If unspecified, at most 50 Rules will be returned.

          The maximum value is 1000; values above 1000 will be coerced to 1000.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListRules` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListRules` must match

          the call that provided the page token.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `rule_id`, `client_key`, `name`, `description`, `is_external`, `asset_id`, `tag_id`,

          `created_date`, `created_by_user_id`, `metadata`, `modified_date`, `modified_by_user_id`, `deleted_date`, `is_archived`, `archived_date`, and `is_live_evaluation_enabled`.

          Metadata can be used in filters by using `metadata.{metadata_key_name}` as the field name.

          Folder membership is filterable via the `folders` and `activeFolders` fields. Both contain the ids of the folders

          the rule belongs to; `activeFolders` excludes archived folders. Use `"<folder_id>" in folders` to return rules in

          the given folder, and `size(activeFolders) == 0` to return uncategorized rules (rules whose only memberships are

          in archived folders count as uncategorized).

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).

          Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved Rules. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `created_date` and `modified_date`.

          If left empty, items are ordered by `created_date` in descending order (newest-first).'
        in: query
        required: false
        schema:
          type: string
      tags:
      - RuleService
  /api/v1/rules:updateHumanFriendly:
    post:
      summary: UpdateHumanFriendlyRules
      description: Batch update rules given the `rules_json` which is a JSON list of rules.
      operationId: RuleService_UpdateHumanFriendlyRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateHumanFriendlyRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateHumanFriendlyRulesRequest'
        description: Deprecated - use UpdateJsonRulesRequest.
        required: true
      tags:
      - RuleService
  /api/v1/rules:updateJson:
    post:
      summary: UpdateJsonRules
      description: Batch update rules given the `rules_json` which is a JSON list of rules.
      operationId: RuleService_UpdateJsonRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateJsonRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateJsonRulesRequest'
        required: true
      tags:
      - RuleService
  /api/v1/rules:validateJson:
    post:
      summary: ValidateJsonRules
      description: Validate a batch update for rules given the `rules_json` which is a JSON list of rules.
      operationId: RuleService_ValidateJsonRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ValidateJsonRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1ValidateJsonRulesRequest'
        required: true
      tags:
      - RuleService
  /api/v1/rules:version:
    get:
      summary: GetRuleVersion
      description: Retrieves a specific version of a rule.
      operationId: RuleService_GetRuleVersion
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetRuleVersionResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: ruleVersionId
        in: query
        required: true
        schema:
          type: string
      tags:
      - RuleService
  /api/v1/rules:viewHumanFriendly:
    get:
      summary: ViewHumanFriendlyRules
      description: Retrieve a JSON object containing all of the rules for a given asset.
      operationId: RuleService_ViewHumanFriendlyRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ViewHumanFriendlyRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: assetId
        in: query
        required: true
        schema:
          type: string
      tags:
      - RuleService
  /api/v1/rules:viewJson:
    get:
      summary: ViewJsonRules
      description: Retrieve a JSON object containing all of the rules for a given asset.
      operationId: RuleService_ViewJsonRules
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ViewJsonRulesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: assetId
        in: query
        required: true
        schema:
          type: string
      tags:
      - RuleService
components:
  schemas:
    v1BatchGetRulesResponse:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/v1Rule'
      required:
      - rules
    v1BatchArchiveRulesResponse:
      type: object
    v1RuleAction:
      type: object
      properties:
        ruleActionId:
          type: string
        ruleConditionId:
          type: string
        actionType:
          $ref: '#/components/schemas/v1ActionKind'
        configuration:
          $ref: '#/components/schemas/v1RuleActionConfiguration'
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        createdByUserId:
          type: string
        modifiedByUserId:
          type: string
        ruleActionVersionId:
          type: string
      required:
      - ruleActionId
      - ruleConditionId
      - actionType
      - configuration
      - createdDate
      - modifiedDate
      - createdByUserId
      - modifiedByUserId
      - ruleActionVersionId
    BatchUpdateRulesResponseRuleIdentifiers:
      type: object
      properties:
        ruleId:
          type: string
        name:
          type: string
        clientKey:
          type: string
      required:
      - ruleId
      - name
    v1BatchGetRuleVersionsRequest:
      type: object
      properties:
        ruleVersionIds:
          type: array
          items:
            type: string
      required:
      - ruleVersionIds
    v1BatchGetRuleVersionsResponse:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/v1Rule'
      required:
      - rules
    siftrulesv1EvaluateRulesRequest:
      type: object
      properties:
        ruleIds:
          type: array
          items:
            type: string
        annotationOptions:
          $ref: '#/components/schemas/v1EvaluatedAnnotationOptions'
        runId:
          type: string
        timeRange:
          $ref: '#/components/schemas/v1TimeRangeQuery'
        dryRun:
          type: boolean
      description: Deprecated - use RuleEvaluationService instead.
      required:
      - ruleIds
    v1CreateRuleResponse:
      type: object
      properties:
        ruleId:
          type: string
      required:
      - ruleId
    v1ValidationResult:
      type: object
      properties:
        ruleId:
          type: string
        clientKey:
          type: string
        assetExpressionValidationResults:
          type: array
          items:
            $ref: '#/components/schemas/v1AssetExpressionValidationResult'
          description: 'If the expression is invalid for an asset, one or more AssetExpressionValidationResult will be returned. This may block

            saving if the override_expression_validation flag is not set.'
        error:
          type: string
          description: 'If the rule is invalid and unable to be saved, this will contain the error message. Expression errors will be returned in

            the asset_expression_validation_results.'
        ruleName:
          type: string
      required:
      - assetExpressionValidationResults
    v1BatchUnarchiveRulesResponse:
      type: object
    v1BatchUnarchiveRulesRequest:
      type: object
      properties:
        ruleIds:
          type: array
          items:
            type: string
        clientKeys:
          type: array
          items:
            type: string
      description: BatchUnarchiveRulesRequest is used to unarchive a rule by rule_id or client_key. For each rule if both are provided, only rule_id will be used.
    v1MetadataValue:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/v1MetadataKey'
        stringValue:
          type: string
        numberValue:
          type: number
          format: double
        booleanValue:
          type: boolean
        relationValue:
          $ref: '#/components/schemas/v1MetadataRelationValue'
        archivedDate:
          type: string
          format: date-time
        isArchived:
          type: boolean
          description: Whether the metadata value is archived. This is inferred from whether archived_date is set.
      required:
      - key
    rulesv1ChannelReference:
      type: object
      properties:
        name:
          type: string
          description: Required for native channel references. Must not be set when calculated_channel_version_id is provided.
        component:
          type: string
          description: 'Deprecated - use name instead. If provided, name will be joined with the component as `component.name`.

            Must not be set when calculated_channel_version_id is provided.'
        calculatedChannelVersionId:
          type: string
          description: 'Reference to a calculated channel version. When set, the rule will use the calculated channel

            instead of looking up a native channel by name. Must not be set when name is provided.'
    v1UpdateRuleRequest:
      type: object
      properties:
        ruleId:
          type: string
        name:
          type: string
        description:
          type: string
        assetId:
          type: string
          description: Deprecated - use asset_configuration instead.
        isEnabled:
          type: boolean
          description: Deprecated - use DeleteRule instead.
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/v1UpdateConditionRequest'
        organizationId:
          type: string
        versionNotes:
          type: string
        clientKey:
          type: string
          title: client_key is a client provided identifier for the rule. It is immutable after being set
        assetConfiguration:
          $ref: '#/components/schemas/v1RuleAssetConfiguration'
        contextualChannels:
          $ref: '#/components/schemas/v1ContextualChannels'
        isExternal:
          type: boolean
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
        isArchived:
          type: boolean
        isLiveEvaluationEnabled:
          type: boolean
          description: 'If set to `true` then this rule will be evaluated on live data, otherwise live rule evaluation

            will be disabled. This rule can still be used, however, in report generation. If this value

            is null then the original value is preserved.


            This is a request, not a guarantee. When combined with

            `BatchUpdateRulesRequest.override_expression_validation = true`, a `true` value here can be

            silently overridden to `false` if UDF inlining fails (the rule is still persisted, just with

            live evaluation disabled). Re-send this request with the underlying issue resolved -- e.g.

            the referenced channels populated, or the expression simplified -- to flip it back on.'
      description: UpdateRuleRequest is used to create or update a rule. If the rule_id or client_key is provided, the rule will be updated. If not, a new rule will be created.
      required:
      - name
      - description
      - conditions
      - metadata
    v1UnarchiveRuleResponse:
      type: object
    v1UpdateJsonRulesRequest:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/v1JsonRulesRequest'
      required:
      - request
    v1DeleteRuleResponse:
      type: object
    v1BatchDeleteRulesResponse:
      type: object
    v1SearchRulesResponse:
      type: object
      properties:
        count:
          type: integer
          format: int64
        rules:
          type: array
          items:
            $ref: '#/components/schemas/v1Rule'
          description: Conditions are not included in the search response. The latest version of the rule is returned.
      required:
      - count
      - rules
    v1JsonRulesResponse:
      type: object
      properties:
        success:
          type: boolean
        totalRulesCount:
          type: integer
          format: int32
        rulesCreatedCount:
          type: integer
          format: int32
        rulesUpdatedCount:
          type: integer
          format: int32
        rulesDeletedCount:
          type: integer
          format: int32
        errorMessages:
          type: string
      required:
      - success
      - totalRulesCount
      - rulesCreatedCount
      - rulesUpdatedCount
      - rulesDeletedCount
    v1MetadataRelationValue:
      type: object
      properties:
        resourceType:
          type: string
        resourceId:
          type: string
      required:
      - resourceType
      - resourceId
    v1UndeleteRuleResponse:
      type: object
    v1BatchUndeleteRulesResponse:
      type: object
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v1SingleChannelComparisonExpression:
      type: object
      properties:
        channelComponent:
          type: string
          title: Deprecated - use channel_name instead. If provided, channel_component will be joined with the name as `channel_component.channel_name`
        channelName:
          type: string
        comparator:
          $ref: '#/components/schemas/v1ConditionComparator'
        double:
          type: number
          format: double
        string:
          type: string
        lastValue:
          $ref: '#/components/schemas/v1LastValueThreshold'
      description: Deprecated - use CalculatedChannelConfig.
      required:
      - channelComponent
      - channelName
      - comparator
    v1BatchUpdateRulesRequest:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/v1UpdateRuleRequest'
          title: rules are limited 1000 rules at a time
        validateOnly:
          type: boolean
          description: If validate_only is true, the request will only validate the request and not save the rules.
        overrideExpressionValidation:
          type: boolean
          description: "Discouraged escape hatch for saving rules whose expression cannot be fully validated\nserver-side. When `true`:\n  - Per-asset expression validation errors (e.g. channel not present on the in-scope asset)\n    are returned in `validation_results` for visibility but do not block the save.\n  - If the rule's UDF/calculated-channel inlining cannot resolve types (typically because\n    the referenced channels haven't been ingested yet, or there are too many distinct\n    identifiers for the type-inference budget) the rule is still persisted, but its\n    `is_live_evaluation_enabled` is forced to `false`. Live alerts will skip it; report\n    generation and on-demand `EvaluateRules` calls still work because they re-resolve\n    types at run time.\nTo bring such a rule back online, fix the underlying problem (ingest the channels, simplify\nthe expression, etc.) and reissue an update with `is_live_evaluation_enabled = true`.\n\nMarked `deprecated = true` because new integrations should validate input *before*\nsubmitting; existing SDK call sites that rely on this flag continue to work."
      required:
      - rules
    v1NotificationActionConfiguration:
      type: object
      properties:
        recipientUserIds:
          type: array
          items:
            type: string
      required:
      - recipientUserIds
    v1UpdateActionRequest:
      type: object
      properties:
        ruleActionId:
          type: string
        actionType:
          $ref: '#/components/schemas/v1ActionKind'
        configuration:
          $ref: '#/components/schemas/v1RuleActionConfiguration'
      required:
      - actionType
      - configuration
    v1JsonRulesRequest:
      type: object
      properties:
        assetId:
          type: string
        rulesJson:
          type: string
        organizationId:
          type: string
      required:
      - assetId
      - rulesJson
      - organizationId
    v1SearchRulesRequest:
      type: object
      properties:
        limit:
          type: integer
          format: int64
          description: Max number of rules to return (returns all if omitted).
        offset:
          type: integer
          format: int64
          description: Only applies if limit provided.
        order:
          $ref: '#/components/schemas/v1SearchOrder'
        nameMatches:
          type: string
        caseSensitive:
          type: boolean
        regexp:
          type: boolean
        orderBy:
          type: string
        ruleIds:
          type: array
          items:
            type: string
          title: If provided, only returns rules with the given ids
        assetIds:
          type: array
          items:
            type: string
          title: If provided, only returns rules that apply to the given asset ids
        includeDeleted:
          type: boolean
        assetTags:
          $ref: '#/components/schemas/v1NamedResources'
    v1RuleActionConfiguration:
      type: object
      properties:
        notification:
          $ref: '#/components/schemas/v1NotificationActionConfiguration'
        annotation:
          $ref: '#/components/schemas/v1AnnotationActionConfiguration'
        webhook:
          $ref: '#/components/schemas/v1WebhookActionConfiguration'
    v1Names:
      type: object
      properties:
        names:
          type: array
          items:
            type: string
      required:
      - names
    v1BatchUpdateRulesResponse:
      type: object
      properties:
        success:
          type: boolean
        rulesCreatedCount:
          type: integer
          format: int32
          description: The total number of rules created in the request. If validate_only is true, this will indicate how many rules would have been created.
        rulesUpdatedCount:
          type: integer
          format: int32
          description: The total number of rules updated in the request. If validate_only is true, this will indicate how many rules would have been updated.
        validateOnly:
          type: boolean
          description: This will be true if the request only validated the request and did not save the rules.
        validationResults:
          type: array
          items:
            $ref: '#/components/schemas/v1ValidationResult'
          title: One ValidationResult per rule in the request will be returned
        createdRuleIdentifiers:
          type: array
          items:
            $ref: '#/components/schemas/BatchUpdateRulesResponseRuleIdentifiers'
          description: The created rule id, name, version, and client key.
      required:
      - success
      - rulesCreatedCount
      - rulesUpdatedCount
      - validateOnly
      - validationResults
      - createdRuleIdentifiers
    v1AnnotationActionConfiguration:
      type: object
      properties:
        tagIds:
          type: array
          items:
            type: string
        annotationType:
          $ref: '#/components/schemas/v1AnnotationType'
        assignedToUserId:
          type: string
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
      required:
      - tagIds
    v1RuleVersion:
      type: object
      properties:
        ruleId:
          type: string
        ruleVersionId:
          type: string
        version:
          type: string
        createdDate:
          type: string
          format: date-time
        createdByUserId:
          type: string
        versionNotes:
          type: string
        generatedChangeMessage:
          type: string
        deletedDate:
          type: string
          format: date-time
        archivedDate:
          type: string
          format: date-time
          title: archived_date indicates when the rule version was archived
        isArchived:
          type: boolean
          title: is_archived is inferred from when archived_date is not null
      required:
      - ruleId
      - ruleVersionId
      - version
      - createdDate
      - createdByUserId
      - versionNotes
      - generatedChangeMessage
      - isArchived
    v1RuleConditionExpression:
      type: object
      properties:
        singleChannelComparison:
          $ref: '#/components/schemas/v1SingleChannelComparisonExpression'
        calculatedChannel:
          $ref: '#/components/schemas/siftrulesv1CalculatedChannelConfig'
    v1BatchGetRulesRequest:
      type: object
      properties:
        ruleIds:
          type: array
          items:
            type: string
        clientKeys:
          type: array
          items:
            type: string
      description: BatchGetRulesRequest is used to retrieve rules by rule_ids or client_keys. If both are provided, both will be used to retrieve rules.
    v1FunctionDependency:
      type: object
      properties:
        userDefinedFunctionVersionId:
          type: string
      required:
      - userDefinedFunctionVersionId
    siftrulesv1EvaluateRulesResponse:
      type: object
      properties:
        createdAnnotationCount:
          type: integer
          format: int32
        dryRunAnnotations:
          type: array
          items:
            $ref: '#/components/schemas/v1DryRunAnnotation'
          title: If dry_run is true, this will be populated with the annotations that would be created
        jobId:
          type: string
          description: job_id and report_id will be set if the job has an extended run time and is being processed asynchronously.
        reportId:
          type: string
      description: Deprecated - use RuleEvaluationService instead.
    v1MetadataKeyType:
      type: string
      enum:
      - METADATA_KEY_TYPE_UNSPECIFIED
      - METADATA_KEY_TYPE_STRING
      - METADATA_KEY_TYPE_NUMBER
      - METADATA_KEY_TYPE_BOOLEAN
      - METADATA_KEY_TYPE_RELATION
      default: METADATA_KEY_TYPE_UNSPECIFIED
      description: "Metadata key type.\n\n - METADATA_KEY_TYPE_STRING: string\n - METADATA_KEY_TYPE_NUMBER: number\n - METADATA_KEY_TYPE_BOOLEAN: boolean\n - METADATA_KEY_TYPE_RELATION: relation — references another resource by UUID (e.g. folder membership)"
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v1Ids:
      type: object
      properties:
        ids:
          type: array
          items:
            type: string
      required:
      - ids
    v1CreateRuleRequest:
      type: object
      properties:
        update:
          $ref: '#/components/schemas/v1UpdateRuleRequest'
      required:
      - update
    v1AssetExpressionValidationResult:
      type: object
      properties:
        assetId:
          type: string
        assetName:
          type: string
        assetTagId:
          type: string
          title: asset_tag_id is the tag_id that caused this asset to be included in the rule
        error:
          type: string
      required:
      - assetId
      - assetName
    v1ListRulesResponse:
      type: object
      properties:
        rules:
          type: array
          items:
            $ref: '#/components/schemas/v1Rule'
        nextPageToken:
          type: string
      required:
      - rules
    v1ListRuleVersionsResponse:
      type: object
      properties:
        ruleVersions:
          type: array
          items:
            $ref: '#/components/schemas/v1RuleVersion'
        nextPageToken:
          type: string
      required:
      - ruleVersions
    v1GetRuleResponse:
      type: object
      properties:
        rule:
          $ref: '#/components/schemas/v1Rule'
      required:
      - rule
    v1ValidateJsonRulesRequest:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/v1JsonRulesRequest'
      required:
      - request
    v1UpdateConditionRequest:
      type: object
      properties:
        ruleConditionId:
          type: string
        expression:
          $ref: '#/components/schemas/v1RuleConditionExpression'
        actions:
          type: array
          items:
            $ref: '#/components/schemas/v1UpdateActionRequest'
      required:
      - expression
      - actions
    v1SearchOrder:
      type: string
      enum:
      - SEARCH_ORDER_UNSPECIFIED
      - SEARCH_ORDER_ASC
      - SEARCH_ORDER_DESC
      default: SEARCH_ORDER_UNSPECIFIED
    siftrulesv1CalculatedChannelConfig:
      type: object
      properties:
        channelReferences:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/rulesv1ChannelReference'
        expression:
          type: string
        functionDependencies:
          type: array
          items:
            $ref: '#/components/schemas/v1FunctionDependency'
          description: This will be ignored in requests and will be generated automatically.
        calculatedChannelDependencies:
          type: array
          items:
            $ref: '#/components/schemas/typev1CalculatedChannelDependency'
          description: 'This will be ignored in requests and will be generated automatically.

            Tracks which calculated channel versions this rule depends on.'
          readOnly: true
      required:
      - channelReferences
      - expression
    v1ActionKind:
      type: string
      enum:
      - ACTION_KIND_UNSPECIFIED
      - NOTIFICATION
      - ANNOTATION
      - WEBHOOK
      default: ACTION_KIND_UNSPECIFIED
    v1ArchiveRuleResponse:
      type: object
    v1UpdateJsonRulesResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/v1JsonRulesResponse'
      required:
      - response
    v1ViewJsonRulesResponse:
      type: object
      properties:
        rulesJson:
          type: string
      required:
      - rulesJson
    v1UndeleteRuleRequest:
      type: object
      properties:
        ruleId:
          type: string
        clientKey:
          type: string
      description: UndeleteRuleRequest is used to undelete a rule by rule_id or client_key. If both are provided, only rule_id will be used.
    v1ContextualChannels:
      type: object
      properties:
        channels:
          type: array
          items:
            $ref: '#/components/schemas/rulesv1ChannelReference'
      required:
      - channels
    v1AnnotationType:
      type: string
      enum:
      - ANNOTATION_TYPE_UNSPECIFIED
      - ANNOTATION_TYPE_DATA_REVIEW
      - ANNOTATION_TYPE_PHASE
      default: ANNOTATION_TYPE_UNSPECIFIED
    v1WebhookActionConfiguration:
      type: object
      properties:
        webhookId:
          type: string
      required:
      - webhookId
    v1MetadataKey:
      type: object
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/v1MetadataKeyType'
        archivedDate:
          type: string
          format: date-time
        isArchived:
          type: boolean
          description: "Whether the metadata key is archived. This is inferred from whether archived_date is set.\n\nThe filter field type this key maps to, so a client can build a CEL filter\n against it (`metadata[\"<name>\"]`) and resolve its operators and functions\n from FilterGrammarService. Derived from `type`."
      required:
      - name
      - type
    v1UpdateHumanFriendlyRulesResponse:
      type: object
      properties:
        success:
          type: boolean
        rulesCount:
          type: integer
          format: int32
        messages:
          type: string
      description: Deprecated - use UpdateJsonRulesResponse.
      required:
      - success
      - rulesCount
      - messages
    v1EvaluatedAnnotationOptions:
      type: object
      properties:
        tagIds:
          type: array
          items:
            type: string
    v1ValidateJsonRulesResponse:
      type: object
      properties:
        response:
          $ref: '#/components/schemas/v1JsonRulesResponse'
      required:
      - response
    v1UnarchiveRuleRequest:
      type: object
      properties:
        ruleId:
          type: string
        clientKey:
          type: string
      description: UnarchiveRuleRequest is used to unarchive a rule by rule_id or client_key. If both are provided, only rule_id will be used.
    v1Rule:
      type: object
      properties:
        ruleId:
          type: string
        assetId:
          type: string
        name:
          type: string
        description:
          type: string
        isEnabled:
          type: boolean
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        createdByUserId:
          type: string
        modifiedByUserId:
          type: string
        organizationId:
          type: string
        conditions:
          type: array
          items:
            $ref: '#/components/schemas/v1RuleCondition'
        ruleVersion:
          $ref: '#/components/schemas/v1RuleVersion'
        clientKey:
          type: string
          description: client_key is a client provided identifier for the rule. It is immutable after rule creation.
        assetConfiguration:
          $ref: '#/components/schemas/v1RuleAssetConfiguration'
        contextualChannels:
          $ref: '#/components/schemas/v1ContextualChannels'
        deletedDate:
          type: string
          format: date-time
        isExternal:
          type: boolean
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
        archivedDate:
          type: string
          format: date-time
          title: archived_date indicates when the rule was archived
        isArchived:
          type: boolean
          title: is_archived is inferred from when archived_date is not null
        isLiveEvaluationEnabled:
          type: boolean
          description: 'If `true`, this rule will be evaluated on live data; if `false`, live rule evaluation is

            disabled (the rule remains usable for report generation).


            Note: this value is the server''s effective state, not necessarily what was requested. A rule

            saved via `BatchUpdateRulesRequest.override_expression_validation = true` whose UDF inlining

            fails (e.g. type resolution exhausted; see error returned by `BatchUpdateRules`) is forced

            to `is_live_evaluation_enabled = false` even when the caller requested `true`. To recover

            after the underlying issue is fixed (channels populated, expression simplified, etc.),

            reissue an `UpdateRule` / `BatchUpdateRules` request that explicitly sets

            `is_live_evaluation_enabled = true`.'
        currentVersionId:
          type: string
          description: The current version of the rule. This is may be different from the rule_version.version if the rule has been updated since the rule_version was created.
        folderIds:
          type: array
          items:
            type: string
          description: Ids of the folders this rule belongs to.
      required:
      - ruleId
      - assetId
      - name
      - description
      - isEnabled
      - createdDate
      - modifiedDate
      - createdByUserId
      - modifiedByUserId
      - organizationId
      - conditions
      - ruleVersion
      - assetConfiguration
      - contextualChannels
      - isExternal
      - metadata
      - isArchived
      - currentVersionId
    typev1CalculatedChannelDependency:
      type: object
      properties:
        calculatedChannelVersionId:
          type: string
      description: A dependency on another calculated channel.
      required:
      - calculatedChannelVersionId
    v1DryRunAnnotation:
      type: object
      properties:
        conditionId:
          type: string
        name:
          type: string
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
        conditionVersionId:
          type: string
      required:
      - startTime
      - endTime
    v1UpdateHumanFriendlyRulesRequest:
      type: object
      properties:
        assetId:
          type: string
        rulesJson:
          type: string
        organizationId:
          type: string
      description: Deprecated - use UpdateJsonRulesRequest.
      required:
      - assetId
      - rulesJson
      - organizationId
    v1ConditionComparator:
      type: string
      enum:
      - CONDITION_COMPARATOR_UNSPECIFIED
      - LESS_THAN
      - LESS_THAN_OR_EQUAL
      - GREATER_THAN
      - GREATER_THAN_OR_EQUAL
      - EQUAL
      - NOT_EQUAL
      default: CONDITION_COMPARATOR_UNSPECIFIED
    v1RuleAssetConfiguration:
      type: object
      properties:
        assetIds:
          type: array
          items:
            type: string
        tagIds:
          type: array
          items:
            type: string
    v1LastValueThreshold:
      type: object
    v1RuleCondition:
      type: object
      properties:
        ruleConditionId:
          type: string
        ruleId:
          type: string
        expression:
          $ref: '#/components/schemas/v1RuleConditionExpression'
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        createdByUserId:
          type: string
        modifiedByUserId:
          type: string
        actions:
          type: array
          items:
            $ref: '#/components/schemas/v1RuleAction'
        ruleConditionVersionId:
          type: string
      required:
      - ruleConditionId
      - ruleId
      - expression
      - createdDate
      - modifiedDate
      - createdByUserId
      - modifiedByUserId
      - actions
      - ruleConditionVersionId
    v1TimeRangeQuery:
      type: object
      properties:
        startTime:
          type: string
          format: date-time
        endTime:
          type: string
          format: date-time
    v1BatchArchiveRulesRequest:
      type: object
      properties:
        ruleIds:
          type: array
          items:
            type: string
        clientKeys:
          type: array
          items:
            type: string
      description: BatchArchiveRulesRequest is used to archive a rule by rule_id or client_key. For each rule if both are provided, only rule_id will be used.
    v1DeleteRuleRequest:
      type: object
      properties:
        ruleId:
          type: string
        clientKey:
          type: string
      description: DeleteRuleRequest is used to delete a rule by rule_id or client_key. If both are provided, only rule_id will be used.
    v1ViewHumanFriendlyRulesResponse:
      type: object
      properties:
        rulesJson:
          type: string
      description: Deprecated - use ViewJsonRulesResponse.
      required:
      - rulesJson
    v1UpdateRuleResponse:
      type: object
      properties:
        ruleId:
          type: string
      required:
      - ruleId
    v1NamedResources:
      type: object
      properties:
        ids:
          $ref: '#/components/schemas/v1Ids'
        names:
          $ref: '#/components/schemas/v1Names'
    v1BatchUndeleteRulesRequest:
      type: object
      properties:
        ruleIds:
          type: array
          items:
            type: string
        clientKeys:
          type: array
          items:
            type: string
      description: BatchUndeleteRulesRequest is used to delete a rule by rule_id or client_key. For each rule if both are provided, only rule_id will be used.
    v1BatchDeleteRulesRequest:
      type: object
      properties:
        ruleIds:
          type: array
          items:
            type: string
        clientKeys:
          type: array
          items:
            type: string
      description: BatchDeleteRulesRequest is used to delete a rule by rule_id or client_key. For each rule if both are provided, only rule_id will be used.
    v1ArchiveRuleRequest:
      type: object
      properties:
        ruleId:
          type: string
        clientKey:
          type: string
      description: ArchiveRuleRequest is used to archive a rule by rule_id or client_key. If both are provided, only rule_id will be used.
    v1GetRuleVersionResponse:
      type: object
      properties:
        rule:
          $ref: '#/components/schemas/v1Rule'
      required:
      - rule
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
