openapi: 3.2.0
info:
  title: Sift Report Template Service API
  version: '1.0'
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: ReportTemplateService
paths:
  /api/v1/report-templates:
    get:
      summary: ListReportTemplates
      description: List report templates.
      operationId: ReportTemplateService_ListReportTemplates
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1ListReportTemplatesResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of report templates to return. The service may return fewer than this value.

          If unspecified, at most 50 report templates will be returned. The maximum value is 1000; values above

          1000 will be coerced to 1000. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListReportTemplates` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListReportTemplates` must match

          the call that provided the page token. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `report_template_id`, `tag_id`, `tag_name`, `client_key`, `metadata`, `name` and ''is_archived''.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).'
        in: query
        required: false
        schema:
          type: string
      - name: organizationId
        description: This field is only required if your user belongs to multiple organizations.
        in: query
        required: false
        schema:
          type: string
      - name: includeArchived
        description: Deprecated. Use `filter` instead.
        in: query
        required: false
        schema:
          type: boolean
      - name: orderBy
        description: 'How to order the retrieved report templates. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `created_date` and `modified_date`.

          If left empty, items are ordered by `created_date` in descending order (newest-first).

          For more information about the format of this field, read [this](https://google.aip.dev/132#ordering)

          Example: "created_date desc,modified_date"'
        in: query
        required: false
        schema:
          type: string
      tags:
      - ReportTemplateService
    post:
      summary: CreateReportTemplate
      description: Create a report template.
      operationId: ReportTemplateService_CreateReportTemplate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1CreateReportTemplateResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1CreateReportTemplateRequest'
        description: The request of a call to `ReportTemplateService_CreateReportTemplate` to create a report template.
        required: true
      tags:
      - ReportTemplateService
    patch:
      summary: UpdateReportTemplate
      description: Updates an existing report template using the list of fields specified in `update_mask`.
      operationId: ReportTemplateService_UpdateReportTemplate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1UpdateReportTemplateResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1UpdateReportTemplateRequest'
        description: 'The request for a call to `ReportTemplateService_UpdateReportTemplate` to update a report template. When updating

          tags or rules, the update will perform a full replace. Additionally, when updating rules, only the rule ID or the rule client key

          is required, but it is okay to provide both. If some rules contain only client keys and others only rule IDs, they will be consolidated.'
        required: true
      tags:
      - ReportTemplateService
  /api/v1/report-templates/{reportTemplateId}:
    get:
      summary: GetReportTemplate
      description: Retrieve a report template.
      operationId: ReportTemplateService_GetReportTemplate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetReportTemplateResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: reportTemplateId
        in: path
        required: true
        schema:
          type: string
      - name: clientKey
        in: query
        required: false
        schema:
          type: string
      - name: organizationId
        in: query
        required: false
        schema:
          type: string
      tags:
      - ReportTemplateService
  /v1/organizations/{organizationId}/report_templates/{clientKey}:
    get:
      summary: GetReportTemplate
      description: Retrieve a report template.
      operationId: ReportTemplateService_GetReportTemplate2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1GetReportTemplateResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: organizationId
        in: path
        required: true
        schema:
          type: string
      - name: clientKey
        in: path
        required: true
        schema:
          type: string
      - name: reportTemplateId
        in: query
        required: false
        schema:
          type: string
      tags:
      - ReportTemplateService
components:
  schemas:
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    v1MetadataRelationValue:
      type: object
      properties:
        resourceType:
          type: string
        resourceId:
          type: string
      required:
      - resourceType
      - resourceId
    v1CreateReportTemplateRequestRuleIds:
      type: object
      properties:
        ruleIds:
          type: array
          items:
            type: string
      description: 'Initial rule order on the new template: first `rule_id` is `display_order` 0, second is 1, etc.'
      required:
      - ruleIds
    v1CreateReportTemplateRequestClientKeys:
      type: object
      properties:
        ruleClientKeys:
          type: array
          items:
            type: string
      description: Initial template rule order follows server resolution of keys to rules (not client-defined per-key ordering).
      required:
      - ruleClientKeys
    v1MetadataKeyType:
      type: string
      enum:
      - METADATA_KEY_TYPE_UNSPECIFIED
      - METADATA_KEY_TYPE_STRING
      - METADATA_KEY_TYPE_NUMBER
      - METADATA_KEY_TYPE_BOOLEAN
      - METADATA_KEY_TYPE_RELATION
      default: METADATA_KEY_TYPE_UNSPECIFIED
      description: "Metadata key type.\n\n - METADATA_KEY_TYPE_STRING: string\n - METADATA_KEY_TYPE_NUMBER: number\n - METADATA_KEY_TYPE_BOOLEAN: boolean\n - METADATA_KEY_TYPE_RELATION: relation — references another resource by UUID (e.g. folder membership)"
    v1GetReportTemplateResponse:
      type: object
      properties:
        reportTemplate:
          $ref: '#/components/schemas/v1ReportTemplate'
      description: The request of a call to `ReportTemplateService_GetReportTemplate` to retrieve a report template.
      required:
      - reportTemplate
    v1CreateReportTemplateResponse:
      type: object
      properties:
        reportTemplate:
          $ref: '#/components/schemas/v1ReportTemplate'
      description: The response of a call to `ReportTemplateService_CreateReportTemplate` to create a report template.
      required:
      - reportTemplate
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    v1MetadataKey:
      type: object
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/v1MetadataKeyType'
        archivedDate:
          type: string
          format: date-time
        isArchived:
          type: boolean
          description: "Whether the metadata key is archived. This is inferred from whether archived_date is set.\n\nThe filter field type this key maps to, so a client can build a CEL filter\n against it (`metadata[\"<name>\"]`) and resolve its operators and functions\n from FilterGrammarService. Derived from `type`."
      required:
      - name
      - type
    v1ListReportTemplatesResponse:
      type: object
      properties:
        reportTemplates:
          type: array
          items:
            $ref: '#/components/schemas/v1ReportTemplate'
        nextPageToken:
          type: string
      description: The response of a call to `ReportTemplateService_ListReportTemplatesResponse`.
    v1ReportTemplate:
      type: object
      properties:
        reportTemplateId:
          type: string
        organizationId:
          type: string
        clientKey:
          type: string
        name:
          type: string
        description:
          type: string
        archivedDate:
          type: string
          format: date-time
        createdByUserId:
          type: string
        modifiedByUserId:
          type: string
        createdDate:
          type: string
          format: date-time
        modifiedDate:
          type: string
          format: date-time
        rules:
          type: array
          items:
            $ref: '#/components/schemas/v1ReportTemplateRule'
          description: 'Rules on this template. On responses, sort by each rule''s `display_order` ascending for execution order. On writes, if

            `display_order` is omitted on a rule, that rule''s position follows the slice order of `rules` (same as explicit orders 0..n-1).'
        tags:
          type: array
          items:
            $ref: '#/components/schemas/v1ReportTemplateTag'
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
        isArchived:
          type: boolean
          description: Whether the report template is archived. This is inferred from whether archived_date is set.
      required:
      - reportTemplateId
      - organizationId
      - name
      - createdByUserId
      - modifiedByUserId
      - createdDate
      - modifiedDate
      - rules
      - tags
      - metadata
      - isArchived
    v1ReportTemplateTag:
      type: object
      properties:
        tagName:
          type: string
      required:
      - tagName
    v1MetadataValue:
      type: object
      properties:
        key:
          $ref: '#/components/schemas/v1MetadataKey'
        stringValue:
          type: string
        numberValue:
          type: number
          format: double
        booleanValue:
          type: boolean
        relationValue:
          $ref: '#/components/schemas/v1MetadataRelationValue'
        archivedDate:
          type: string
          format: date-time
        isArchived:
          type: boolean
          description: Whether the metadata value is archived. This is inferred from whether archived_date is set.
      required:
      - key
    v1CreateReportTemplateRequest:
      type: object
      properties:
        name:
          type: string
        clientKey:
          type: string
        description:
          type: string
        tagNames:
          type: array
          items:
            type: string
        organizationId:
          type: string
          title: '`organization_id` is only required if your user belongs to multiple organizations'
        ruleIds:
          $ref: '#/components/schemas/v1CreateReportTemplateRequestRuleIds'
        ruleClientKeys:
          $ref: '#/components/schemas/v1CreateReportTemplateRequestClientKeys'
        metadata:
          type: array
          items:
            $ref: '#/components/schemas/v1MetadataValue'
      description: The request of a call to `ReportTemplateService_CreateReportTemplate` to create a report template.
      required:
      - name
      - tagNames
    v1UpdateReportTemplateResponse:
      type: object
      properties:
        reportTemplate:
          $ref: '#/components/schemas/v1ReportTemplate'
      description: The response of a call to `ReportTemplateService_UpdateReportTemplate`.
      required:
      - reportTemplate
    v1ReportTemplateRule:
      type: object
      properties:
        ruleId:
          type: string
        ruleVersionId:
          type: string
        ruleVersionNumber:
          type: integer
          format: int64
        clientKey:
          type: string
        displayOrder:
          type: integer
          format: int64
          description: 'Zero-based order for this rule on the template. Copied to `ReportRuleSummary.display_order` when creating a report from

            the template. Lower values indicate earlier position in the template and on generated reports.


            Optional on writes (e.g. `UpdateReportTemplate`): if omitted, servers use the order of entries in `ReportTemplate.rules`

            (first entry is earliest). On reads, this field is always populated.'
      required:
      - ruleId
      - ruleVersionId
      - ruleVersionNumber
    v1UpdateReportTemplateRequest:
      type: object
      properties:
        reportTemplate:
          $ref: '#/components/schemas/v1ReportTemplate'
        updateMask:
          type: string
          description: The list of fields to be updated. The fields available to be updated are `name`, `archived_date`, `is_archived`, `description`, `tags`, `rules`, and `metadata`.
      description: 'The request for a call to `ReportTemplateService_UpdateReportTemplate` to update a report template. When updating

        tags or rules, the update will perform a full replace. Additionally, when updating rules, only the rule ID or the rule client key

        is required, but it is okay to provide both. If some rules contain only client keys and others only rule IDs, they will be consolidated.'
      required:
      - reportTemplate
      - updateMask
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
