openapi: 3.2.0
info:
  title: Sift Tag Service API
  version: '1.0'
  description: Service to programmatically interact with [tags](/glossary#tag).
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: TagService
  description: Service to programmatically interact with [tags](/glossary#tag).
paths:
  /api/v1/tags:
    get:
      summary: ListTags
      description: Retrieves tags using an optional filter.
      operationId: TagService_ListTags
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagsv1ListTagsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of tags to return.

          The service may return fewer than this value.

          If unspecified, at most 50 tags will be returned.

          The maximum value is 1000; values above 1000 will be coerced to 1000.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListTags` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListTags` must match

          the call that provided the page token.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string

          Available fields to filter by are ''name'' and ''tag_id''.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).

          For more information about the fields used for filtering, please refer to [this definition](/protocol-buffers/documentation#tag). Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: name
        description: 'Alias for `filter`. The web-client is unable to use `filter` so please use `name` for the

          code generated via RTK.'
        in: query
        required: false
        schema:
          type: string
      tags:
      - TagService
    post:
      summary: CreateTag
      description: Create a tag.
      operationId: TagService_CreateTag
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagsv1CreateTagResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tagsv1CreateTagRequest'
        description: The request for a call to TagService.CreateTag.
        required: true
      tags:
      - TagService
  /api/v2/tags:
    get:
      summary: ListTags
      description: Retrieves tags using an optional filter.
      operationId: TagService_ListTagsV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagsv2ListTagsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of tags to return.

          The service may return fewer than this value.

          If unspecified, at most 50 tags will be returned.

          The maximum value is 1000; values above 1000 will be coerced to 1000.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListTags` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListTags` must match

          the call that provided the page token.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string

          Available fields to filter by are ''name'' and ''tag_id''.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).'
        in: query
        required: false
        schema:
          type: string
      - name: orderBy
        description: 'How to order the retrieved campaigns. Formatted as a comma-separated string i.e. "FIELD_NAME[ desc],...".

          Available fields to order_by are `created_date` and `name`.

          If left empty, items are ordered by `created_date` in ascending order (oldest-first).

          For more information about the format of this field, read [this](https://google.aip.dev/132#ordering)

          Example: "created_date desc,name"'
        in: query
        required: false
        schema:
          type: string
      - name: tagType
        description: Narrows the tags selected to a specific type.
        in: query
        required: false
        schema:
          type: string
          enum:
          - TAG_TYPE_UNSPECIFIED
          - TAG_TYPE_ANNOTATION
          - TAG_TYPE_ASSET
          - TAG_TYPE_CAMPAIGN
          - TAG_TYPE_REPORT
          - TAG_TYPE_REPORT_TEMPLATE
          - TAG_TYPE_RUN
          default: TAG_TYPE_UNSPECIFIED
      tags:
      - TagService
    post:
      summary: CreateTag
      description: Create a tag.
      operationId: TagService_CreateTagV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tagsv2CreateTagResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tagsv2CreateTagRequest'
        description: The request for a call to TagService.CreateTag.
        required: true
      tags:
      - TagService
components:
  schemas:
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    tagsv2ListTagsResponse:
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/tagsv2Tag'
        nextPageToken:
          type: string
          description: 'A token, which can be sent as `page_token` to retrieve the next page.

            If this field is empty, there are no subsequent pages.'
    tagsv2CreateTagRequest:
      type: object
      properties:
        name:
          type: string
          description: 'The name for the new tag.

            If the tag already exists, an error is returned.'
      description: The request for a call to TagService.CreateTag.
      required:
      - name
    azimuthtagsv1Tag:
      type: object
      properties:
        tagId:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        organizationId:
          type: string
          readOnly: true
        createdByUserId:
          type: string
          readOnly: true
        modifiedByUserId:
          type: string
          readOnly: true
        createdDate:
          type: string
          format: date-time
          readOnly: true
        modifiedDate:
          type: string
          format: date-time
          readOnly: true
    tagsv1CreateTagResponse:
      type: object
      properties:
        tag:
          $ref: '#/components/schemas/azimuthtagsv1Tag'
      description: The result of a call to TagService.CreateTag.
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    tagsv1CreateTagRequest:
      type: object
      properties:
        name:
          type: string
          description: 'The name for the new tag.

            If the tag already exists, an error is returned.'
        organizationId:
          type: string
      description: The request for a call to TagService.CreateTag.
      required:
      - name
    tagsv2CreateTagResponse:
      type: object
      properties:
        tag:
          $ref: '#/components/schemas/tagsv2Tag'
      description: The result of a call to TagService.CreateTag.
    tagsv2Tag:
      type: object
      properties:
        tagId:
          type: string
          readOnly: true
        name:
          type: string
          readOnly: true
        createdByUserId:
          type: string
          readOnly: true
        createdDate:
          type: string
          format: date-time
          readOnly: true
    tagsv1ListTagsResponse:
      type: object
      properties:
        tags:
          type: array
          items:
            $ref: '#/components/schemas/azimuthtagsv1Tag'
        nextPageToken:
          type: string
          description: 'A token, which can be sent as `page_token` to retrieve the next page.

            If this field is empty, there are no subsequent pages.'
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
