openapi: 3.2.0
info:
  title: Sift Data Service API
  version: '1.0'
  description: Service to query data
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: DataService
  description: Service to query data
paths:
  /api/v1/data:
    post:
      summary: GetData
      description: Query data
      operationId: DataService_GetData
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/datav1GetDataResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/datav1GetDataRequest'
        required: true
      tags:
      - DataService
  /api/v2/data:
    post:
      summary: GetData
      description: Query data
      operationId: DataService_GetDataV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/datav2GetDataResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/datav2GetDataRequest'
        required: true
      tags:
      - DataService
components:
  schemas:
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    datav2ChannelQuery:
      type: object
      properties:
        channelId:
          type: string
          description: channel_id is the uuid of the channel.
        runId:
          type: string
          description: 'Optional.

            If set, only data associated with the specified run is returned.

            If set to the empty string, only non-run data is returned.

            If unset, all run / non-run data is returned.'
    v1ExpressionMode:
      type: string
      enum:
      - EXPRESSION_MODE_UNSPECIFIED
      - EXPRESSION_MODE_RULES
      - EXPRESSION_MODE_CALCULATED_CHANNELS
      - EXPRESSION_MODE_RULER
      - EXPRESSION_MODE_STRUCTURED_DATA
      default: EXPRESSION_MODE_UNSPECIFIED
    datav1ChannelQuery:
      type: object
      properties:
        channelId:
          type: string
          description: channel_id is the uuid of the channel.
        runId:
          type: string
          description: 'Optional.

            If set, only data associated with the specified run is returned.

            If set to the empty string, only non-run data is returned.

            If unset, all run / non-run data is returned.'
    datav2GetDataResponse:
      type: object
      properties:
        nextPageToken:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
          title: "data contains the result of the supplied queries.\nBe aware that each query can generate multiple data responses.\nFor example, if run_id is omitted from a ChannelQuery, the query returns\ndata for all runs containing that channel. Channel data for each run is\nreturned in a separate data object.\nPossible message types:\n  sift.data.v2.DoubleValues\n  sift.data.v2.FloatValues\n  sift.data.v2.StringValues\n  sift.data.v2.EnumValues\n  sift.data.v2.BitFieldValues\n  sift.data.v2.BoolValues\n  sift.data.v2.Int32Values\n  sift.data.v2.Int64Values\n  sift.data.v2.Uint32Values\n  sift.data.v2.Uint64Values\n  sift.data.v2.BytesValues"
      required:
      - data
    datav1GetDataRequest:
      type: object
      properties:
        queries:
          type: array
          items:
            $ref: '#/components/schemas/datav1Query'
        startTime:
          type: string
          format: date-time
          description: Required. The starting timestamp of the data to retrieve. This is an inclusive bound.
        endTime:
          type: string
          format: date-time
          description: Required. The end timestamp of the data to retrieve. This is an exclusive bound.
        sampleMs:
          type: integer
          format: int64
          description: 'The rate to sample the returned data at. The data is sampled using [LTTB](https://github.com/sveinn-steinarsson/flot-downsample)

            which will return one point approximately every sample_ms milliseconds that retains the shape of the raw data.

            Sampling is only supported for numeric data types, if sample_ms is provided for non-numeric data, it will be

            ignored and the full-fidelity data will be returned.

            A value of 0 disables sampling and returns the full unsampled dataset. This is recommended for external data

            analysis where full fidelity is required, as opposed to plotting where downsampling is typically sufficient.'
        pageSize:
          type: integer
          format: int64
          description: 'The maximum number of channel values to return.

            The service may return fewer than this value.

            If unspecified, at most 10,000 values will be returned.

            The maximum value is 1,000,000; values above 1,000,000 will be coerced to 1,000,000.

            For variable data types (i.e. string channels), at most page_size elements

            will be read, or 1MB, whichever occurs first.'
        pageToken:
          type: string
          description: 'A page token, received from a previous `GetData` call.

            Provide this to retrieve the subsequent page.

            When paginating, all other parameters provided to `GetData` must match

            the call that provided the page token.'
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    datav2GetDataRequest:
      type: object
      properties:
        queries:
          type: array
          items:
            $ref: '#/components/schemas/datav2Query'
        startTime:
          type: string
          format: date-time
          description: Required. The starting timestamp of the data to retrieve. This is an inclusive bound.
        endTime:
          type: string
          format: date-time
          description: Required. The end timestamp of the data to retrieve. This is an exclusive bound.
        sampleMs:
          type: integer
          format: int64
          description: 'The rate to sample the returned data at. The data is sampled using [LTTB](https://github.com/sveinn-steinarsson/flot-downsample)

            which will return one point approximately every sample_ms milliseconds that retains the shape of the raw data.

            Sampling is only supported for numeric data types, if sample_ms is provided for non-numeric data, it will be

            ignored and the full-fidelity data will be returned.

            A value of 0 disables sampling and returns the full unsampled dataset. This is recommended for external data

            analysis where full fidelity is required, as opposed to plotting where downsampling is typically sufficient.'
        pageSize:
          type: integer
          format: int64
          description: 'The maximum number of channel values to return.

            The service may return fewer than this value.

            If unspecified, at most 10,000 values will be returned.

            The maximum value is 1,000,000; values above 1,000,000 will be coerced to 1,000,000.

            For variable data types (i.e. string channels), at most page_size elements

            will be read, or 1MB, whichever occurs first.'
        pageToken:
          type: string
          description: 'A page token, received from a previous `GetData` call.

            Provide this to retrieve the subsequent page.

            When paginating, all other parameters provided to `GetData` must match

            the call that provided the page token.'
    datav2CalculatedChannelQuery:
      type: object
      properties:
        channelKey:
          type: string
        expression:
          $ref: '#/components/schemas/v1ExpressionRequest'
        runId:
          type: string
          description: 'Optional.

            If set, only data for the specified run is returned

            If set to the empty string, only non-run data is returned.

            If unset, all run / non-run data is returned.'
        mode:
          $ref: '#/components/schemas/v1ExpressionMode'
        combineRunData:
          type: boolean
          description: 'Optional. If unset, will default to false.

            If true, then requests that return data across multiple runs will be

            combined into a single result. This will apply to queries without a run,

            or when the requested run is an ad hoc run.

            This is useful when you prefer to see all the data as a single time series,

            instead of separated results by run.'
      required:
      - channelKey
      - expression
    v1ExpressionChannelReference:
      type: object
      properties:
        channelReference:
          type: string
        channelId:
          type: string
        calculatedChannel:
          $ref: '#/components/schemas/v1ExpressionRequest'
      required:
      - channelReference
      - channelId
    datav1Query:
      type: object
      properties:
        channel:
          $ref: '#/components/schemas/datav1ChannelQuery'
        calculatedChannel:
          $ref: '#/components/schemas/datav1CalculatedChannelQuery'
    datav2Query:
      type: object
      properties:
        channel:
          $ref: '#/components/schemas/datav2ChannelQuery'
        calculatedChannel:
          $ref: '#/components/schemas/datav2CalculatedChannelQuery'
    v1FunctionDependency:
      type: object
      properties:
        userDefinedFunctionVersionId:
          type: string
      required:
      - userDefinedFunctionVersionId
    datav1CalculatedChannelQuery:
      type: object
      properties:
        channelKey:
          type: string
        expression:
          $ref: '#/components/schemas/v1ExpressionRequest'
        runId:
          type: string
          description: 'Optional.

            If set, only data for the specified run is returned

            If set to the empty string, only non-run data is returned.

            If unset, all run / non-run data is returned.'
        mode:
          $ref: '#/components/schemas/v1ExpressionMode'
      required:
      - channelKey
      - expression
    v1ExpressionRequest:
      type: object
      properties:
        channelReferences:
          type: object
          additionalProperties:
            type: string
          description: 'A map from the channel reference in the expression string (e.g. $1) to the channel id (uuid).

            This is deprecated and should be passed in expression_channel_references instead.'
        expression:
          type: string
        expressionChannelReferences:
          type: array
          items:
            $ref: '#/components/schemas/v1ExpressionChannelReference'
        functionDependencies:
          type: array
          items:
            $ref: '#/components/schemas/v1FunctionDependency'
      required:
      - expression
    datav1GetDataResponse:
      type: object
      properties:
        nextPageToken:
          type: string
        data:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
          title: "data contains the result of the supplied queries.\nBe aware that each query can generate multiple data responses.\nFor example, if run_id is omitted from a ChannelQuery, the query returns\ndata for all runs containing that channel. Channel data for each run is\nreturned in a separate data object.\nPossible message types:\n  sift.data.v1.DoubleValues\n  sift.data.v1.FloatValues\n  sift.data.v1.StringValues\n  sift.data.v1.EnumValues\n  sift.data.v1.BitFieldValues\n  sift.data.v1.BoolValues\n  sift.data.v1.Int32Values\n  sift.data.v1.Int64Values\n  sift.data.v1.Uint32Values\n  sift.data.v1.Uint64Values\n  sift.data.v1.BytesValues"
      required:
      - data
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
