openapi: 3.2.0
info:
  title: Sift Ingestion Config Service API
  version: '1.0'
  description: Service to programmatically interact with [ingestion configs](/glossary#ingestion-config).
servers:
- url: https://api.siftstack.com
  description: Production
- url: https://gov.api.siftstack.com
  description: Gov
security:
- BearerAuth: []
tags:
- name: IngestionConfigService
  description: Service to programmatically interact with [ingestion configs](/glossary#ingestion-config).
  externalDocs:
    description: Read more about what ingestion configs are.
    url: /ingestion/creating-amend-ingestion-config
paths:
  /api/v1/ingestion-configs:
    get:
      summary: ListIngestionConfigs
      description: List ingestion configs using an optional filter.
      operationId: IngestionConfigService_ListIngestionConfigs
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ingestion_configsv1ListIngestionConfigsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of ingestion configs to return. The service may return fewer than this value.

          If unspecified, at most 50 ingestion configs will be returned. The maximum value is 1000; values above

          1000 will be coerced to 1000. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListIngestionConfigs` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListIngestionConfigs` must match

          the call that provided the page token. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `ingestion_config_id`, `client_key`, `asset_id`, `created_date`, and `modified_date`.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).'
        in: query
        required: false
        schema:
          type: string
      tags:
      - IngestionConfigService
    post:
      summary: CreateIngestionConfig
      description: Create an ingestion config.
      operationId: IngestionConfigService_CreateIngestionConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ingestion_configsv1CreateIngestionConfigResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ingestion_configsv1CreateIngestionConfigRequest'
        description: The request for a call to `IngestionConfigService_CreateIngestionConfig` to create an ingestion configs.
        required: true
      tags:
      - IngestionConfigService
  /api/v1/ingestion-configs/{ingestionConfigId}:
    get:
      summary: GetIngestionConfig
      description: Retrieves an ingestion config.
      operationId: IngestionConfigService_GetIngestionConfig
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ingestion_configsv1GetIngestionConfigResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: ingestionConfigId
        in: path
        required: true
        schema:
          type: string
      tags:
      - IngestionConfigService
  /api/v1/ingestion-configs/{ingestionConfigId}/flows:
    get:
      summary: ListIngestionConfigFlows
      description: List ingestion config flows using an optional filter.
      operationId: IngestionConfigService_ListIngestionConfigFlows
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ingestion_configsv1ListIngestionConfigFlowsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: ingestionConfigId
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: 'The maximum number of ingestion config flows to return. The service may return fewer than this value.

          If unspecified, at most 50 ingestion config flows will be returned. The maximum value is 1000; values above

          1000 will be coerced to 1000. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListIngestionConfigFlows` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListIngestionConfigFlows` must match

          the call that provided the page token. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `flow_name`, `flow_id`, `created_date`, and `modified_date`.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).'
        in: query
        required: false
        schema:
          type: string
      tags:
      - IngestionConfigService
    post:
      summary: CreateIngestionConfigFlows
      description: Create ingestion config flows.
      operationId: IngestionConfigService_CreateIngestionConfigFlows
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ingestion_configsv1CreateIngestionConfigFlowsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: ingestionConfigId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                flows:
                  type: array
                  items:
                    $ref: '#/components/schemas/ingestion_configsv1FlowConfig'
                  description: These flows must have unique names. If you try to send a flow with a name that already exists for an ingestion config, it will return an error.
              description: The request for a call to `IngestionConfigService_CreateIngestionConfigFlows` to create ingestion config flows.
        required: true
      tags:
      - IngestionConfigService
  /api/v2/ingestion-configs:
    get:
      summary: ListIngestionConfigs
      description: List ingestion configs using an optional filter.
      operationId: IngestionConfigService_ListIngestionConfigsV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ingestion_configsv2ListIngestionConfigsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: pageSize
        description: 'The maximum number of ingestion configs to return. The service may return fewer than this value.

          If unspecified, at most 50 ingestion configs will be returned. The maximum value is 1000; values above

          1000 will be coerced to 1000. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListIngestionConfigs` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListIngestionConfigs` must match

          the call that provided the page token. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `ingestion_config_id`, `client_key`, `asset_id`, `created_date`, and `modified_date`.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).'
        in: query
        required: false
        schema:
          type: string
      tags:
      - IngestionConfigService
    post:
      summary: CreateIngestionConfig
      description: Create an ingestion config.
      operationId: IngestionConfigService_CreateIngestionConfigV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ingestion_configsv2CreateIngestionConfigResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ingestion_configsv2CreateIngestionConfigRequest'
        description: The request for a call to `IngestionConfigService_CreateIngestionConfig` to retrieve ingestion configs.
        required: true
      tags:
      - IngestionConfigService
  /api/v2/ingestion-configs/{ingestionConfigId}:
    get:
      summary: GetIngestionConfig
      description: Retrieves an ingestion config.
      operationId: IngestionConfigService_GetIngestionConfigV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ingestion_configsv2GetIngestionConfigResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: ingestionConfigId
        in: path
        required: true
        schema:
          type: string
      tags:
      - IngestionConfigService
  /api/v2/ingestion-configs/{ingestionConfigId}/flows:
    get:
      summary: ListIngestionConfigFlows
      description: List ingestion config flows using an optional filter.
      operationId: IngestionConfigService_ListIngestionConfigFlowsV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ingestion_configsv2ListIngestionConfigFlowsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: ingestionConfigId
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: 'The maximum number of ingestion config flows to return. The service may return fewer than this value.

          If unspecified, at most 50 ingestion config flows will be returned. The maximum value is 1000; values above

          1000 will be coerced to 1000. Optional.'
        in: query
        required: false
        schema:
          type: integer
          format: int64
      - name: pageToken
        description: 'A page token, received from a previous `ListIngestionConfigFlows` call.

          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListIngestionConfigFlows` must match

          the call that provided the page token. Optional.'
        in: query
        required: false
        schema:
          type: string
      - name: filter
        description: 'A [Common Expression Language (CEL)](https://github.com/google/cel-spec) filter string.

          Available fields to filter by are `flow_name`, `flow_id`, `created_date`, and `modified_date`.

          For further information about how to use CELs, please refer to [this guide](https://github.com/google/cel-spec/blob/master/doc/langdef.md#standard-definitions).'
        in: query
        required: false
        schema:
          type: string
      tags:
      - IngestionConfigService
    post:
      summary: CreateIngestionConfigFlows
      description: Create ingestion config flows.
      operationId: IngestionConfigService_CreateIngestionConfigFlowsV2
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ingestion_configsv2CreateIngestionConfigFlowsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/rpcStatus'
      parameters:
      - name: ingestionConfigId
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                flows:
                  type: array
                  items:
                    $ref: '#/components/schemas/ingestion_configsv2FlowConfig'
                  description: These flows must have unique names. If you try to send a flow with a name that already exists for an ingestion config, it will return an error.
              description: The request for a call to `IngestionConfigService_CreateIngestionConfigFlows` to create ingestion config flows.
        required: true
      tags:
      - IngestionConfigService
components:
  schemas:
    ingestion_configsv1CreateIngestionConfigFlowsResponse:
      type: object
      description: The result of a call to `IngestionConfigService_CreateIngestionConfigFlows`.
    ingestion_configsv2IngestionConfig:
      type: object
      properties:
        ingestionConfigId:
          type: string
        assetId:
          type: string
        clientKey:
          type: string
      required:
      - ingestionConfigId
      - assetId
    protobufAny:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the serialized\nprotocol buffer message. This string must contain at least\none \"/\" character. The last segment of the URL's path must represent\nthe fully qualified name of the type (as in\n`path/google.protobuf.Duration`). The name should be in a canonical form\n(e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile into the binary all types that they\nexpect it to use in the context of Any. However, for URLs which use the\nscheme `http`, `https`, or no scheme, one can optionally set up a type\nserver that maps type URLs to message definitions as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in binary format, or produce an error.\n* Applications are allowed to cache lookup results based on the\n  URL, or have them precompiled into a binary to avoid any\n  lookup. Therefore, binary compatibility needs to be preserved\n  on changes to types. (Use versioned type names to manage\n  breaking changes.)\n\nNote: this functionality is not currently available in the official\nprotobuf release, and it is not used for type URLs beginning with\ntype.googleapis.com. As of May 2023, there are no widely used type server\nimplementations and no plans to implement one.\n\nSchemes other than `http`, `https` (or the empty scheme) might be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message along with a\nURL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form\nof utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n      ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class)) {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance())) {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any = Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n      any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n     if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name' as the type URL and the unpack\nmethods only use the fully qualified type name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\" will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of an `Any` value uses the regular\nrepresentation of the deserialized, embedded message, with an\nadditional field `@type` which contains the type URL. Example:\n\n    package google.profile;\n    message Person {\n      string first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\": \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known and has a custom JSON\nrepresentation, that representation will be embedded adding a field\n`value` which holds the custom JSON in addition to the `@type`\nfield. Example (for message [google.protobuf.Duration][]):\n\n    {\n      \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"value\": \"1.212s\"\n    }"
    siftingestion_configsv1ChannelConfig:
      type: object
      properties:
        name:
          type: string
        component:
          type: string
        unit:
          type: string
        description:
          type: string
        dataType:
          $ref: '#/components/schemas/v1ChannelDataType'
        enumTypes:
          type: array
          items:
            $ref: '#/components/schemas/v1ChannelEnumType'
        bitFieldElements:
          type: array
          items:
            $ref: '#/components/schemas/v1ChannelBitFieldElement'
      required:
      - name
      - dataType
    v1ChannelDataType:
      type: string
      enum:
      - CHANNEL_DATA_TYPE_UNSPECIFIED
      - CHANNEL_DATA_TYPE_DOUBLE
      - CHANNEL_DATA_TYPE_STRING
      - CHANNEL_DATA_TYPE_ENUM
      - CHANNEL_DATA_TYPE_BIT_FIELD
      - CHANNEL_DATA_TYPE_BOOL
      - CHANNEL_DATA_TYPE_FLOAT
      - CHANNEL_DATA_TYPE_INT_32
      - CHANNEL_DATA_TYPE_UINT_32
      - CHANNEL_DATA_TYPE_INT_64
      - CHANNEL_DATA_TYPE_UINT_64
      - CHANNEL_DATA_TYPE_BYTES
      default: CHANNEL_DATA_TYPE_UNSPECIFIED
    ingestion_configsv1CreateIngestionConfigRequest:
      type: object
      properties:
        assetName:
          type: string
        flows:
          type: array
          items:
            $ref: '#/components/schemas/ingestion_configsv1FlowConfig'
        organizationId:
          type: string
        clientKey:
          type: string
          description: 'The `client_key` field is a user-defined string you can supply to uniquely identify

            an ingestion config (and retrieve it via `GetIngestionConfig`).

            An error is returned if you try to create an ingestion config with a

            client_key that already exists.'
      description: The request for a call to `IngestionConfigService_CreateIngestionConfig` to create an ingestion configs.
      required:
      - assetName
    ingestion_configsv2FlowConfig:
      type: object
      properties:
        name:
          type: string
        channels:
          type: array
          items:
            $ref: '#/components/schemas/ingestion_configsv2ChannelConfig'
      required:
      - name
    v1ChannelEnumType:
      type: object
      properties:
        name:
          type: string
        key:
          type: integer
          format: int64
        isSigned:
          type: boolean
      required:
      - name
      - key
    ingestion_configsv1IngestionConfig:
      type: object
      properties:
        ingestionConfigId:
          type: string
        assetId:
          type: string
        clientKey:
          type: string
      required:
      - ingestionConfigId
      - assetId
    ingestion_configsv2ListIngestionConfigFlowsResponse:
      type: object
      properties:
        flows:
          type: array
          items:
            $ref: '#/components/schemas/ingestion_configsv2FlowConfig'
        nextPageToken:
          type: string
      description: The result of a call to `IngestionConfigService_ListIngestionConfigFlows`.
    v1ChannelBitFieldElement:
      type: object
      properties:
        name:
          type: string
        index:
          type: integer
          format: int32
          description: The index of this element's first bit in the logical bit field array.
        bitCount:
          type: integer
          format: int64
      required:
      - name
      - index
      - bitCount
    ingestion_configsv2ChannelConfig:
      type: object
      properties:
        name:
          type: string
        unit:
          type: string
        description:
          type: string
        dataType:
          $ref: '#/components/schemas/v1ChannelDataType'
        enumTypes:
          type: array
          items:
            $ref: '#/components/schemas/v1ChannelEnumType'
        bitFieldElements:
          type: array
          items:
            $ref: '#/components/schemas/v1ChannelBitFieldElement'
      required:
      - name
      - dataType
    ingestion_configsv2ListIngestionConfigsResponse:
      type: object
      properties:
        ingestionConfigs:
          type: array
          items:
            $ref: '#/components/schemas/ingestion_configsv2IngestionConfig'
        nextPageToken:
          type: string
      description: The result of a call to `IngestionConfigService_ListIngestionConfigs`.
    ingestion_configsv1ListIngestionConfigsResponse:
      type: object
      properties:
        ingestionConfigs:
          type: array
          items:
            $ref: '#/components/schemas/ingestion_configsv1IngestionConfig'
        nextPageToken:
          type: string
      description: The result of a call to `IngestionConfigService_ListIngestionConfigs`.
    ingestion_configsv1FlowConfig:
      type: object
      properties:
        name:
          type: string
        channels:
          type: array
          items:
            $ref: '#/components/schemas/siftingestion_configsv1ChannelConfig'
      required:
      - name
    ingestion_configsv2GetIngestionConfigResponse:
      type: object
      properties:
        ingestionConfig:
          $ref: '#/components/schemas/ingestion_configsv2IngestionConfig'
      description: The result of a call to `IngestionConfigService_GetIngestionConfig`.
      required:
      - ingestionConfig
    ingestion_configsv1ListIngestionConfigFlowsResponse:
      type: object
      properties:
        flows:
          type: array
          items:
            $ref: '#/components/schemas/ingestion_configsv1FlowConfig'
        nextPageToken:
          type: string
      description: The result of a call to `IngestionConfigService_ListIngestionConfigFlows`.
    ingestion_configsv2CreateIngestionConfigResponse:
      type: object
      properties:
        ingestionConfig:
          $ref: '#/components/schemas/ingestion_configsv2IngestionConfig'
      description: The result of a call to `IngestionConfigService_CreateIngestionConfig`.
      required:
      - ingestionConfig
    ingestion_configsv2CreateIngestionConfigRequest:
      type: object
      properties:
        assetName:
          type: string
        flows:
          type: array
          items:
            $ref: '#/components/schemas/ingestion_configsv2FlowConfig'
        organizationId:
          type: string
        clientKey:
          type: string
          description: 'The `client_key` field is a user-defined string you can supply to uniquely identify

            an ingestion config (and retrieve it via `GetIngestionConfig`).

            An error is returned if you try to create an ingestion config with a

            client_key that already exists.'
      description: The request for a call to `IngestionConfigService_CreateIngestionConfig` to retrieve ingestion configs.
      required:
      - assetName
    ingestion_configsv1CreateIngestionConfigResponse:
      type: object
      properties:
        ingestionConfig:
          $ref: '#/components/schemas/ingestion_configsv1IngestionConfig'
      description: The result of a call to `IngestionConfigService_CreateIngestionConfig`.
      required:
      - ingestionConfig
    rpcStatus:
      type: object
      properties:
        code:
          type: integer
          format: int32
        message:
          type: string
        details:
          type: array
          items:
            $ref: '#/components/schemas/protobufAny'
    ingestion_configsv1GetIngestionConfigResponse:
      type: object
      properties:
        ingestionConfig:
          $ref: '#/components/schemas/ingestion_configsv1IngestionConfig'
      description: The result of a call to `IngestionConfigService_GetIngestionConfig`.
      required:
      - ingestionConfig
    ingestion_configsv2CreateIngestionConfigFlowsResponse:
      type: object
      description: The result of a call to `IngestionConfigService_CreateIngestionConfigFlows`.
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
